<div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>
<div>{{localize 'E20.ContactAllegiancePoints'}}: {{item.system.allegiancePoints}}</div>
<div>{{localize 'E20.ContactGainingTheContact'}}: {{item.system.gainingTheContact}}</div>
<div>{{localize 'E20.ContactPerks'}}: {{item.system.perks}}</div>
