<div class="content">
  <h3>{{localize prompt}}</h3>
  <div class="choice-buttons">
    {{#each choices as |choice|}}
      <div class="choice">
        <button type="button" value="{{choice.value}}" data-action="pick"{{#if choice.img}} class="with-image"{{/if}}>
        {{#if choice.img}}<img src="{{choice.img}}" />{{/if}}
          <span>{{choice.label}}</span>
        </button>
        {{#if choice.hasUUID}}
          <a
            class="item-info"
            data-action="view-item"
            data-value="{{choice.value}}"
            data-tooltip=""
          ><i class="fa-solid fa-fw fa-info-circle"></i></a>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
