<div>
  <ol class="dialog-options">
    {{log choices}}
    {{#each choices as |choice key|}}
    <li>
      <label class="checkbox">
        <input type="checkbox" id="{{key}}" name="{{key}}" value="{{key}}" data-dtype="Boolean" {{checked choice.chosen}}>
        {{localize choice.label}}
      </label>
    </li>
    {{/each}}
  </ol>
</div>
