<div class="trait-selector flexcol">
  {{#if (eq actor.type "npc")}}
    {{#> "systems/essence20/templates/app/parts/field.hbs" label='E20.IsNPC'}}
    {{#*inline "field-inputs"}}
      <input type="checkbox" id="isNPC" name="system.isNPC" {{checked system.isNPC}} />
    {{/inline}}
    {{/"systems/essence20/templates/app/parts/field.hbs"}}

    {{#> "systems/essence20/templates/app/parts/field.hbs" label='E20.IsContact'}}
    {{#*inline "field-inputs"}}
      <input type="checkbox" id="isContact" name="system.isContact" {{checked system.isContact}} />
    {{/inline}}
    {{/"systems/essence20/templates/app/parts/field.hbs"}}
  {{/if}}

  {{#if (ne role.system.version 'powerRanger')}}
    {{#> "systems/essence20/templates/app/parts/field.hbs" label='E20.CanMorph'}}
    {{#*inline "field-inputs"}}
      <input type="checkbox" id="canMorph" name="system.canMorph" {{checked system.canMorph}} />
    {{/inline}}
    {{/"systems/essence20/templates/app/parts/field.hbs"}}
  {{/if}}

  {{#if (ne role.system.version 'myLittlePony')}}
    {{#> "systems/essence20/templates/app/parts/field.hbs" label='E20.CanSpellcast'}}
    {{#*inline "field-inputs"}}
      <input type="checkbox" id="canSpellcast" name="system.canSpellcast" {{checked system.canSpellcast}}/>
    {{/inline}}
    {{/"systems/essence20/templates/app/parts/field.hbs"}}
  {{/if}}

  {{#unless altMode}}
    {{#> "systems/essence20/templates/app/parts/field.hbs" label='E20.CanTransform'}}
    {{#*inline "field-inputs"}}
      <input type="checkbox" id="canTransform" name="system.canTransform" {{checked system.canTransform}}/>
    {{/inline}}
    {{/"systems/essence20/templates/app/parts/field.hbs"}}
  {{/unless}}

  {{#if system.canMorph}}
    <div class="flexrow">
      <label for="system.image.morphed">{{localize 'E20.MorphedImage'}}</label>
      <file-picker id="system.image.morphed" name="system.image.morphed" spellcheck="false">{{system.image.morphed}}</file-picker>
    </div>
  {{/if}}
</div>
