<div>
  <h3>{{prereq.type}} Requirement</h3>
    <div class="flexrow">
      <div>
        <input type="text" name="system.prerequisites.{{@key}}.uuid" value="{{prereq.uuid}}"/>
      </div>
      <div class="item-controls">
        <a class="item-control prereq-delete flex-right" data-key="{{@key}}" data-tooltip="{{localize 'E20.DeleteItem'}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </div>
</div>
