{{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs" items=@root.powers title='E20.ItemTypePowerPlural' dataType='power'}}
  {{#*inline "roll-button" item}}
    {{#ifEquals item.system.canActivate true}}
      <a class="rollable" data-roll-type={{item.type}} title="{{localize 'E20.PowerRollTitle'}}"><i class="fas fa-battery-bolt"></i></a>
    {{else}}
      <a class="rollable" data-roll-type={{item.type}} title="{{localize 'E20.PowerRollTitle'}}"></a>
    {{/ifEquals}}
  {{/inline}}

  {{#*inline "expand-details" item}}
    {{> "systems/essence20/templates/actor/parts/items/power/details.hbs"}}
  {{/inline}}

  {{#*inline "item-label" item}}
    {{item.name}}
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs"}}
