<div class="stats-container flexrow flex-group-center" style="border-color: {{system.color}};">
  {{#if actor.system.canMorph}}
  <label>Personal Power</label>
    <input class="centered-input no-lock" data-field="system.powers.personal.value" type="number"
      name="system.powers.personal.value" value="{{system.powers.personal.value}}" />
    /
    <input class="centered-input no-lock" data-field="system.powers.personal.max" type="number" name="system.powers.personal.max"
      value="{{system.powers.personal.max}}" />
  {{/if}}
    {{#if system.powers.sorcerous.levelTaken}}
  <label>Sorcerous Power</label>
    <input class="centered-input no-lock" data-field="system.powers.sorcerous.value" type="number"
      name="system.powers.sorcerous.value" value="{{system.powers.sorcerous.value}}" />
    /
    <input class="centered-input no-lock" data-field="system.powers.sorcerous.max" type="number" name="system.powers.sorcerous.max"
      value="{{system.powers.sorcerous.max}}" />
  {{/if}}
</div>

{{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs" items=@root.powers title='E20.ItemTypePowerPlural' dataType='power'}}
  {{#*inline "roll-button" item}}
    {{#ifEquals item.system.canActivate true}}
      <a class="rollable" data-roll-type={{item.type}} title="{{localize 'E20.PowerRollTitle'}}"><i class="fas fa-battery-bolt"></i></a>
    {{/ifEquals}}
  {{/inline}}

  {{#*inline "expand-details" item}}
    {{> "systems/essence20/templates/actor/parts/items/power/details.hbs"}}
  {{/inline}}

  {{#*inline "item-label" item}}
    <strong>
      {{item.name}}
      {{#ifEquals @root.actor.type "npc"}}
        :{{#if system.usesPer}}
          {{system.usesPer}}/{{lookup @root.config.usesInterval system.usesInterval}},
        {{/if}}
        {{lookup @root.config.actionTypes system.actionType}}
      {{/ifEquals}}
    </strong>
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs"}}
