<div>{{localize 'E20.ItemDescription'}}: {{{item.description}}}</div>

<div class="chip-section">
  <span class="chip" name="chip.weapon.classification">{{lookup @root.config.skills item.classification.skill}} {{lookup @root.config.weaponSizes parentItem.classification.size}} {{lookup @root.config.weaponStyles item.classification.style}}</span>
  <span class="chip" name="chip.weapon.numHands">{{localize 'E20.WeaponHands'}}: {{item.numHands}}</span>
  <span class="chip" name="chip.weapon.numTargets">{{localize 'E20.WeaponTargets'}}: {{item.numTargets}}</span>
  {{#if item.damageValue}}
  <span class="chip" name="chip.weapon.damageValue">{{localize 'E20.Damage'}}: {{item.damageValue}}</span>
  {{/if}}
  <span class="chip" name="chip.weapon.damageType">{{localize 'E20.DamageType'}}: {{localize (lookup @root.config.damageTypes item.damageType)}}</span>
  {{#if item.shiftDown}}
  <span class="chip" name="chip.weapon.shiftDown">{{localize 'E20.ShiftDown'}}: {{item.shiftDown}}</span>
  {{/if}}
</div>
