<div class="stats-container flexrow flex-group-center" style="border-color: {{system.color}};">
 <div class="flexrow flex-group-center">
    <h3>{{localize 'E20.ArmorAndWeaponTraining'}}</h3>
  </div>
  <div class="armor">
    {{#unless @root.actor.system.canTransform}}
    <div class="stats-container" style="border-color: {{system.color}};">
      <h4>{{localize 'E20.ArmorTrained'}}</h4>
      {{#each system.training.armor as |armorTraining|}}
        {{#if armorTraining}}
          {{lookup @root.config.armorTypes @key}}
        {{/if}}
      {{/each}}
    </div>
    {{/unless}}
    {{#if @root.actor.system.canQualify}}
    <div class="stats-container" style="border-color: {{system.color}};">
      <h4>{{localize 'E20.ArmorQualified'}}</h4>
      {{#each system.qualifications.armor as |armorQualifications|}}
        {{#if armorQualifications}}
          {{lookup @root.config.armorTypes @key}}
        {{/if}}
      {{/each}}
    </div>
    {{/if}}
    {{#if @root.actor.system.canTransform}}
      <div class="stats-container" style="border-color: {{system.color}};">
        <h4>{{localize 'E20.ArmorUpgradeTrained'}}</h4>
        {{#each system.training.upgrade.armor as |upgradeTraining|}}
          {{#if upgradeTraining}}
            {{lookup @root.config.availabilities @key}}
          {{/if}}
        {{/each}}
       </div>
    {{/if}}
  </div>
  <div class="weapon">
    <div class="stats-container" style="border-color: {{system.color}};">
      <h4>{{localize 'E20.WeaponTrained'}}</h4>
      {{#each system.training.weapon as |weaponTraining|}}
        {{#if weaponTraining}}

          {{lookup @root.config.weaponTypes @key}}
        {{/if}}
      {{/each}}
    </div>
    {{#if @root.actor.system.canQualify}}
    <div class="stats-container" style="border-color: {{system.color}};">
      <h4>{{localize 'E20.WeaponQualified'}}</h4>
      {{#each system.qualifications.weapon as |weaponQualifications|}}
        {{#if weaponQualifications}}
          {{lookup @root.config.weaponTypes @key}}
        {{/if}}
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
