<label>{{localize 'E20.AlterationMovementText'}}</label>
<p></p>
<ol class="dialog-options">
  {{#each choices as |choice key|}}
  <li>
    <label>
      {{localize choice.label}} (min 0, max {{choice.maxValue}})
    </label>
    <span>
      <input type="number" name="choices" id={{key}} value= "0" min="0" step="5" max="{{choice.maxValue}}">
    </span>
  </li>
  {{/each}}
</ol>

<div class="dialog-buttons">
  {{#each buttons as |button id|}}
  <button class="dialog-button" data-button="{{id}}">
    {{{button.icon}}}
    {{{button.label}}}
  </button>
  {{/each}}
</div>
