<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="flexcol">
    <div class="flexrow item-field">
      <div class="flexrow" style="align-items: center; gap: 5px;">
      {{#ifEquals actor.type 'powerRanger'}}
      {{else}}
        <label style="flex-grow: 0; white-space: nowrap;" for="canmorph" class="resource-label">{{localize 'E20.CanMorph'}}</label>
        <div class="flexrow item-field-inputs">
          <input type="checkbox" id="canMorph" name="system.canMorph" {{checked system.canMorph}} />
        </div>
      {{/ifEquals}}
      </div>
    </div>
  </div>

    <div class="flexcol">
    <div class="flexrow item-field">
      <div class="flexrow" style="align-items: center; gap: 5px;">
      {{#ifEquals actor.type 'transformer'}}
      {{else}}
        <label style="flex-grow: 0; white-space: nowrap;" for="canmorph" class="resource-label">{{localize 'E20.CanTransform'}}</label>
        <div class="flexrow item-field-inputs">
          <input type="checkbox" id="canTransform" name="system.canTransform" {{checked system.canTransform}}/>
        </div>
      {{/ifEquals}}
      </div>
    </div>
  </div>
</form>



