<form class="essence-select-dialog">
  <div class="flexcol">
    <div class="essence-select">
      <div>
        <label for="system.advancement.strength" class="resource-label">{{localize 'E20.EssenceStrength'}}</label>
        <select name="strength" id="strength">
          {{selectOptions choices nameAttr="key" labelAttr="label"}}
        </select>
      </div>
      <div>
        <label for="system.advancement.speed" class="resource-label">{{localize 'E20.EssenceSpeed'}}</label>
        <select name="speed" id="speed">
          {{selectOptions choices nameAttr="key" labelAttr="label"}}
        </select>
      </div>
      <div>
        <label for="system.advancement.smarts" class="resource-label">{{localize 'E20.EssenceSmarts'}}</label>
        <select name="smarts" id="smarts">
          {{selectOptions choices nameAttr="key" labelAttr="label"}}
        </select>
      </div>
      <div>
        <label for="system.advancement.social" class="resource-label">{{localize 'E20.EssenceSocial'}}</label>
        <select name="social" id="social">
          {{selectOptions choices nameAttr="key" labelAttr="label"}}
        </select>
      </div>
    </div>
  </div>
</form>
