<form class="power-cost-dialog">
  <div class="flexcol">
    <ol class="power-cost">
      <li>
        <label>
          {{localize power.name}} (min 0, max {{maxPower}})
        </label>
        <span>
          <input type="number" id ="{{power.name}}" value="{{power.system.powerCost}}" max="{{maxPower}}"/>
        </span>
      </li>
    </ol>
  </div>
</form>
