<form class="power-cost-dialog">
  <div class="flexcol">
    <div class="power-cost">
      <label>
        {{localize power.name}} (min {{power.system.powerCost}}, max {{maxPower}})
      </label>
      <span>
        <input type="number" id ="{{power.name}}" value="{{power.system.powerCost}}" max="{{maxPower}}" min="0" step="1"/>
      </span>
    </div>
  </div>
</form>
