{{#>"systems/essence20/templates/actor/parts/headers/actor-header.hbs"}}
{{#*inline "secondary-fields"}}
<div>
  <label for="prerequisite" class="resource-label">{{localize 'E20.ZordPrerequisite'}}</label>
  <input type="text" name="system.prerequisite" value="{{system.prerequisite}}" />
</div>
<div>
  <label for="ranger" class="resource-label">{{ localize 'E20.ZordRanger' }}</label>
  <input type="text" name="system.ranger" value="{{system.ranger}}" />
</div>
<div class="pr-header-color flex-group-center">
  <label for="system.color" class="resource-label">{{localize 'E20.ActorColor'}}</label>
  <input type="color" class="picker" name="system.color" value="{{system.color}}" />
</div>
<div class="flexcol">
  <label for="iscombiner" class="resource-label">{{localize 'E20.MegaformZordCombiner'}}</label>
  <input type="checkbox" name="system.isCombiner" {{checked system.isCombiner}} />
</div>
{{/inline}}
{{/"systems/essence20/templates/actor/parts/headers/actor-header.hbs"}}
