{{#>"systems/essence20/templates/actor/parts/headers/common.hbs"}}
{{#*inline "secondary-fields"}}
<div class="actor-header-size">
  <label for="system.subtype" class"resource-label">{{localize 'E20.MegaformSubtype'}}</label>
  <select name="system.subtype">
    {{selectOptions config.megaformSubtypes selected=system.subtype}}
  </select>
</div>
<div>
  <label for="system.prerequisite" class="resource-label">{{localize 'E20.ZordPrerequisite'}}</label>
  <input type="text" name="system.prerequisite" value="{{system.prerequisite}}" />
</div>
<div>
  <label for="armor" class="resource-label">{{ localize 'E20.ActorArmor' }}</label>
  {{numberInput system.armor name="system.armor" min=0 step=1}}
</div>
{{/inline}}
{{/"systems/essence20/templates/actor/parts/headers/common.hbs"}}
