{{#>"systems/essence20/templates/actor/parts/headers/common.hbs"}}
{{#*inline "secondary-fields"}}
<div>
  <label for="threatLevel" class="resource-label">{{localize 'E20.NpcThreatLevel'}}</label>
  {{numberInput system.threatLevel name="system.threatLevel" min=0 step=1}}
</div>
<div>
  <label for="conditioning" class="resource-label">{{ localize 'E20.ActorConditioning' }}</label>
  {{numberInput system.conditioning name="system.conditioning" min=0 step=1}}
</div>
<div class="pr-header-color flex-group-center">
  <label for="system.color" class="resource-label">{{localize 'E20.ActorColor'}}</label>
  <input type="color" class="picker" name="system.color" value="{{system.color}}" />
</div>
{{> "systems/essence20/templates/actor/parts/misc/initiative.hbs"}}
{{/inline}}
{{/"systems/essence20/templates/actor/parts/headers/common.hbs"}}
