<div class="zord-stats-container">
  <div class="npc-stats-container-1">
    <span class="resource flex-group-center">
      <h3>{{localize 'E20.movement.aerial'}}</h3>
    </span><input class="essence-input" type="number" name="system.movement.aerial"
      value="{{system.movement.aerial}}" />
  </div>
  <div class="npc-stats-container-1">
    <span class="resource flex-group-center">
      <h3>{{localize 'E20.movement.ground'}}</h3>
    </span><input class="essence-input" type="number" name="system.movement.ground"
      value="{{system.movement.ground}}" />
  </div>
  <div class="npc-stats-container-1">
    <span class="resource flex-group-center">
      <h3>{{localize 'E20.movement.swim'}}</h3>
    </span><input class="essence-input" type="number" name="system.movement.swim" value="{{system.movement.swim}}" />
  </div>
</div>
