{{#> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.altModes title='E20.AltMode' dataType='altMode'}}
  {{#*inline "expand-details" item}}
    <div>{{localize 'E20.AltModeMovement.Aerial'}}: {{item.system.altModeMovement.aerial}}</div>
    <div>{{localize 'E20.AltModeMovement.Aquatic'}}: {{item.system.altModeMovement.aquatic}}</div>
    <div>{{localize 'E20.AltModeMovement.Ground'}}: {{item.system.altModeMovement.ground}}</div>
    <div>{{localize 'E20.AltModeSize'}}: {{item.system.altModesize}}</div>
    <div>{{localize 'E20.AltModeCrew'}}: {{item.system.altModeCrew}}</div>
    <div>{{localize 'E20.AltModeFirepoints'}}: {{item.system.altModeFirepoints}}</div>
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
