<h3>{{localize 'E20.features'}}</h3>
<a class="item-create" data-type="feature" title="{{ localize 'E20.addFeature' }}">
    <i class="fas fa-plus"></i>
</a>
{{#each @root.features as |feature|}}
<li class="item flexrow" data-item-id="{{feature._id}}">
    <div class="item-name">
        <input class="inline-edit" data-field="name" type="text" name="feature.{{@index}}.name" value="{{feature.name}}" placeholder="{{ localize 'E20.name' }}"/>
        <textarea class="inline-edit" data-field="data.description" name="feature.{{@index}}.description" placeholder="{{localize 'E20.description'}}">{{feature.data.description}}</textarea>
    </div>
    <div class="item-controls">
        <a class="item-control item-delete" title="{{localize 'E20.deleteFeature'}}"><i class="fas fa-trash"></i></a>
    </div>
</li>
{{/each}}
