<div class="common-container">
  <div class="common-container-1">
    {{!-- Essences/Skills --}}
    {{> "systems/essence20/templates/actor/parts/actor-character.hbs"}}
    {{!-- Initiative --}}
      <div class="initiative-container">
        <div class="initiative-header">
          <span>{{localize 'E20.initiative'}}</span>
            <div class="initiative-dropdown">
              <select name="system.initiative">
                {{selectOptions @root.config.initiativeShifts selected=system.initiative localize=true}}
              </select>
              <div class="item-image">
                  <a class="rollable" data-roll-type="initiative"><i class="fas fa-dice-d20"></i></a>
              </div>
            </div>
      </div>
    </div>
  </div>

<div class="common-container-2">
    <div class="stats-container flex-group-center flexrow">
        <span>{{localize 'E20.movement.aerial'}}</span><input class="essence-input" type="number" name="system.movement.aerial" value="{{system.movement.aerial}}" />
        <span>{{localize 'E20.movement.aerialMin'}}</span><input class="essence-input" type="number" name="system.movement.aerialMin" value="{{system.movement.aerialMin}}" />
        <span>{{localize 'E20.movement.ground'}}</span><input class="essence-input" type="number" name="system.movement.ground" value="{{system.movement.ground}}" />
        <span>{{localize 'E20.movement.swim'}}</span><input class="essence-input" type="number" name="system.movement.swim" value="{{system.movement.swim}}" />
      </div>
    {{!-- Health --}}
    <div class="health-container">
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">{{localize 'E20.health'}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
          <span>/</span>
          <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
        </div>
      </div>            
    </div>
  </div>
</div>
<div class="skills-label-container">
  <h3 class="skills-label">{{localize 'E20.skills'}}</h3>
</div>
<div class="skillscontainer">

  <div class="skills-container">
    <h4 class="skill-name">{{localize 'E20.essences.strength'}}</h4>
    <h3>{{localize 'E20.conditioning'}}</h3>
     <input class="essence-input" type="number" name="system.conditioning" value="{{system.conditioning}}" />
    {{#each system.skills.strength as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='strength' skill=skill fields=fields}}
    {{/each}}
  </div>

  <div class="skills-container">
    <h4 class="skill-name">{{localize 'E20.essences.speed'}}</h4>
    {{#each system.skills.speed as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='speed' skill=skill fields=fields}}
    {{/each}}
  </div>

  <div class="skills-container">
    <h4 class="skill-name">{{localize 'E20.essences.smarts'}}</h4>
    {{#each system.skills.smarts as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='smarts' skill=skill fields=fields}}
    {{/each}}
  </div>

  <div class="skills-container">
    <h4 class="skill-name">{{localize 'E20.essences.social'}}</h4>
    {{#each system.skills.social as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='social' skill=skill fields=fields}}
    {{/each}}
  </div>
</div>
