{{!-- Personal Power --}}
<div class="powers-section">
  <div class="resource flex-group-center">
    <label for="system.personalPower.value" class="resource-label">{{localize 'E20.personalPower'}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="number" name="system.personalPower.value" value="{{system.personalPower.value}}" />
      <span> / </span>
      <input type="number" name="system.personalPower.max" value="{{system.personalPower.max}}" />
    </div>
  </div>
</div>

{{!-- Powers --}}
<div class="powers-section-1">
  <span class="resource flex-group-center">
    <h1>{{localize 'E20.powers'}}</h1>
  </span>
  <a class="item-create" data-type="power" title="{{ localize 'E20.addPower' }}"><i class="fas fa-plus"></i></a>
  <ol class="items-list">
    {{#each @root.powers as |power|}}
      <li class="item flexrow" data-item-id="{{power._id}}">
        <details>
          <summary class="flexrow">
            <span class="item-image">
              <a class="rollable" data-roll-type="item"><img src="{{power.img}}" title="{{power.name}}" width="24" height="24" /></a>
            </span>
            {{power.name}}
          </summary>
          <div class="expand-details">
            <div>{{{power.system.description}}}</div>
          </div>
        </details>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'E20.editPower'}}"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="{{localize 'E20.deletePower'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
