<div class="skills-container accordion-wrapper {{accordionStates.skills}}" style="border-color: {{system.color}};">
  <div class="flex-group-center accordion-label">
    <span>{{localize 'E20.AccordionSkillsTitle'}}</span>
    <a class="item-control"><i class="accordion-icon fas fa-chevron-down"></i></a>
  </div>

  {{#each @root.config.skillsByEssence as |skills essence|}}
    <div class="skill-separator">{{localize (lookup @root.config.essences essence)}}</div>

    {{#each skills as |skill|}}
      {{#if (lookup @root.displayedNpcSkills skill)}}
      <div>
      {{else}}
      <div class="accordion-content">
      {{/if}}

      {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence=essence skill=skill fields=(lookup @root.system.skills skill)}}
      </div>
    {{/each}}
  {{/each}}
</div>
