{{#> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.armors title='E20.ItemTypeArmorPlural' dataType='armor'}}
  {{#*inline "chips" item}}
    <span class="chip" name="chip.armor.availability">{{localize (lookup @root.config.availabilities item.system.availability)}}</span>
    <span class="chip" name="chip.armor.classification">{{localize (lookup @root.config.armorClassifications item.system.classification)}}</span>
    <span class="chip" name="chip.armor.bonusEvasion">{{localize 'E20.ArmorBonusEvasion'}}: {{item.system.bonusEvasion}}</span>
    <span class="chip" name="chip.armor.bonusToughness">{{localize 'E20.ArmorBonusToughness'}}: {{item.system.bonusToughness}}</span>

    {{#each item.system.traits as |applies type|}}
    {{#if applies}}
    <span class="chip" name="chip.armor.traits.{{type}}">{{localize (lookup @root.config.armorTraits type)}}</span>
    {{/if}}
    {{/each}}

    {{#if item.system.source.book}}
    <span class="chip" name="chip.source.book">{{item.system.source.book}}</span>
    {{/if}}
  {{/inline}}

  {{#*inline "expand-details" item}}
  <div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
