<div class="common-container">
  {{!-- Initiative --}}
  <div class="common-container-1">
    <div class="initiative-container">
      <div class="initiative-header">
        <span>{{localize 'E20.initiative'}}</span>
        <div class="initiative-dropdown">
          <select name="system.initiative">
            {{selectOptions @root.config.initiativeShifts selected=system.initiative localize=true}}
          </select>
          <div class="item-image">
            <a class="rollable" data-roll-type="initiative"><i class="fas fa-dice-d20"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Movement --}}
  <div class="common-container-2">
    <div class="stats-container">
      <div class="flexrow flex-group-center">
        <div>{{localize 'E20.movement.ground'}}</div>
        <div><input class="two-digit-input" type="number" name="system.movement.ground" value="{{system.movement.ground}}" /></div>
      </div>
      <div class="flexrow flex-group-center">
        <div>{{localize 'E20.movement.swim'}}</div>
        <div><input class="two-digit-input" type="number" name="system.movement.swim" value="{{system.movement.swim}}" /></div>
      </div>
      <div class="flexrow flex-group-center">
        <div>{{localize 'E20.movement.aerial'}}</div>
        <div><input style="max-width: 60px; text-align: center;" type="text" name="system.movement.aerial" value="{{system.movement.aerial}}" /></div>
      </div>
    </div>
  </div>

  {{!-- Health --}}
  <div class="common-container-3">
    <div class="health-container">
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">{{localize 'E20.health'}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
          <span>/</span>
          <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="skills-label-container">
  <h3 class="skills-label">{{localize 'E20.skills'}}</h3>
</div>

<div class="skillscontainer">
  {{!-- Strength --}}
  <div class="skills-container">
    <div class="essence-header">
      <span class="essence-label">{{localize 'E20.essences.strength'}}</span>
      <input class="two-digit-input" type="number" name="system.essences.strength" value="{{system.essences.strength}}" />
    </div>
    <div class="essence-header">
      <span>{{localize 'E20.conditioning'}}</span>
      <input class="one-digit-input" type="number" name="system.conditioning" value="{{system.conditioning}}" />
    </div>
    {{#each system.skills.strength as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='strength' skill=skill fields=fields}}
    {{/each}}
  </div>

  {{!-- Speed --}}
  <div class="skills-container">
    <div class="essence-header">
      <span class="essence-label">{{localize 'E20.essences.speed'}}</span>
      <input class="two-digit-input" type="number" name="system.essences.speed" value="{{system.essences.speed}}" />
    </div>
    {{#each system.skills.speed as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='speed' skill=skill fields=fields}}
    {{/each}}
  </div>

  {{!-- Smarts --}}
  <div class="skills-container">
    <div class="essence-header">
      <span class="essence-label">{{localize 'E20.essences.smarts'}}</span>
      <input class="two-digit-input" type="number" name="system.essences.smarts" value="{{system.essences.smarts}}" />
    </div>
    {{#each system.skills.smarts as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='smarts' skill=skill fields=fields}}
    {{/each}}
  </div>

  {{!-- Social --}}
  <div class="skills-container">
    <div class="essence-header">
      <span class="essence-label">{{localize 'E20.essences.social'}}</span>
      <input class="two-digit-input" type="number" name="system.essences.social" value="{{system.essences.social}}" />
    </div>
    {{#each system.skills.social as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='social' skill=skill fields=fields}}
    {{/each}}
  </div>
</div>
