<div class="perks-section">
  <span class="resource flex-group-center">
    <h1>{{localize 'E20.perks'}}</h1>
  </span>
  <a class="item-create" data-type="generalPerk" title="{{ localize 'E20.addPerk' }}">
    <i class="fas fa-plus"></i>
  </a>

  <ol class="items-list">
    {{#each @root.generalPerks as |perk|}}
    <li class="item flexrow" data-item-id="{{perk._id}}">
      <details>
        <summary class="flexrow">
          <div class="item-image">
            <a class="rollable" data-roll-type="generalPerk"><i class="fas fa-dice-d20"></i></a>
          </div>
          {{perk.name}}
        </summary>
        <div class="expand-details">
          <div>{{{perk.system.source}}}</div>
          <div>{{{perk.system.prerequisite}}}</div>
          <div>{{{perk.system.description}}}</div>
        </div>
      </details>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'E20.editPerk'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'E20.deletePerk'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
