<div class="stats-container flexrow flex-group-center" style="border-color: {{system.color}};">
  <div class="flexcol">
    <label>{{localize @root.config.movementTypes.aerial}}</label>
    {{#inArray '["giJoe", "powerRanger", "transformer", "pony"]' @root.actor.type}}
      {{setVar "readonly" "true"}}
    {{/inArray}}
    {{#if readonly}}
      <input class="centered-input" type="text" name="system.movement.aerial.total" value="{{system.movement.aerial.total}}" readonly="readonly" />
    {{else}}
      <input class="centered-input" type="text" name="system.movement.aerial.total" value="{{system.movement.aerial.total}}" />
    {{/if}}
  </div>
  <div class="resource flexcol">
    <label>{{localize @root.config.movementTypes.ground}}</label>
    {{#if readonly}}
      <input class="centered-input" type="number" name="system.movement.ground.total" value="{{system.movement.ground.total}}" readonly="readonly" />
     {{else}}
       <input class="centered-input" type="number" name="system.movement.ground.total" value="{{system.movement.ground.total}}" />
     {{/if}}
  </div>
  <div class="resource flexcol">
    <label>{{localize @root.config.movementTypes.swim}}</label>
    {{#if readonly}}
      <input class="centered-input" type="number" name="system.movement.swim.total" value="{{system.movement.swim.total}}" readonly="readonly" />
    {{else}}
      <input class="centered-input" type="number" name="system.movement.swim.total" value="{{system.movement.swim.total}}" />
    {{/if}}
  </div>
</div>
