<div class="zordtab">
  <div class="zord-container-1">
    <div class="npc-stats-container">
      <div class="npc-stats-container-1">
        <span class="resource flex-group-center">
          <h3>{{localize 'E20.movement.aerial'}}</h3>
        </span><input class="essence-input" type="number" name="system.movement.aerial"
          value="{{system.movement.aerial}}" />
      </div>
      <div class="npc-stats-container-1">
        <span class="resource flex-group-center">
          <h3>{{localize 'E20.movement.aerialMin'}}</h3>
        </span><input class="essence-input" type="number" name="system.movement.aerialMin"
          value="{{system.movement.aerialMin}}" />
      </div>
      <div class="npc-stats-container-1">
        <span class="resource flex-group-center">
          <h3>{{localize 'E20.movement.ground'}}</h3>
        </span><input class="essence-input" type="number" name="system.movement.ground"
          value="{{system.movement.ground}}" />
      </div>
      <div class="npc-stats-container-1">
        <span class="resource flex-group-center">
          <h3>{{localize 'E20.movement.swim'}}</h3>
        </span><input class="essence-input" type="number" name="system.movement.swim"
          value="{{system.movement.swim}}" />
      </div>
    </div>
    <div class="zord-health-container">
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">{{localize 'E20.health'}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
          <span>/</span>
          <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </div>
</div>
