<div class="skillscontainer">
  {{!-- Strength --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header strength">
      <span class="essence-label">{{localize config.essences.strength}}</span>
      <input class="two-digit-input" type="number" name="system.essences.strength" value="{{system.essences.strength}}" />
    </div>
    <div class="essence-header" style="margin-bottom: 5px;">
      <span>{{localize 'E20.ActorConditioning'}}</span>
      <input class="one-digit-input" type="number" name="system.conditioning" value="{{system.conditioning}}" />
    </div>
    {{#each system.skills.strength as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='strength' skill=skill fields=fields}}
    {{/each}}
  </div>

  {{!-- Speed --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header">
      <span class="essence-label">{{localize config.essences.speed}}</span>
      <input class="two-digit-input" type="number" name="system.essences.speed" value="{{system.essences.speed}}" />
    </div>
    {{#each system.skills.speed as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='speed' skill=skill fields=fields}}
    {{/each}}
  </div>

  {{!-- Smarts --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header">
      <span class="essence-label">{{localize config.essences.smarts}}</span>
      <input class="two-digit-input" type="number" name="system.essences.smarts" value="{{system.essences.smarts}}" />
    </div>
    {{#each system.skills.smarts as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='smarts' skill=skill fields=fields}}
    {{/each}}
  </div>

  {{!-- Social --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header">
      <span class="essence-label">{{localize config.essences.social}}</span>
      <input class="two-digit-input" type="number" name="system.essences.social" value="{{system.essences.social}}" />
    </div>
    {{#each system.skills.social as |fields skill|}}
    {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence='social' skill=skill fields=fields}}
    {{/each}}
  </div>
</div>
