{{#>"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.weapons title='E20.ItemTypeWeaponPlural' dataType='weapon'}}
  {{#*inline "expand-details" item}}
    <div>{{localize 'E20.WeaponEffect'}}: {{item.system.effect}}</div>
    <div>{{localize 'E20.WeaponAlternateEffects'}}: {{item.system.alternateEffects}}</div>
    <div>{{localize 'E20.WeaponUpgrades'}}: {{item.system.upgrades}}</div>
    <div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>
  {{/inline}}

  {{#*inline "roll-button" item}}
    <a class="rollable" data-roll-type="weapon" data-skill="{{item.system.classification.skill}}"><i class="fas fa-dice-d20"></i></a>
  {{/inline}}

  {{#*inline "chips" item}}
  <span class="chip" name="chip.weapon.availability">{{localize (lookup @root.config.availabilities item.system.availability)}}</span>
  <span class="chip" name="chip.weapon.classification.skill">{{localize (lookup @root.config.essenceSkills item.system.classification.skill)}}</span>
  <span class="chip" name="chip.weapon.classification.size">{{localize (lookup @root.config.weaponSizes item.system.classification.size)}}</span>
  <span class="chip" name="chip.weapon.classification.style">{{localize (lookup @root.config.weaponStyles item.system.classification.style)}}</span>
  <span class="chip" name="chip.weapon.numHands">{{localize 'E20.WeaponHands'}}: {{item.system.numHands}}</span>
  <span class="chip" name="chip.weapon.numTargets">{{localize 'E20.WeaponTargets'}}: {{item.system.numTargets}}</span>
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
