<div class="bonus-container">
  <div class="defense-container-1">
      <h3>{{localize 'E20.defensesStr'}}</h3>
      {{#each system.defenses.unmorphed as |value defense|}}
        <div>{{localize (concat 'E20.defenses.' defense)}}: {{value}}</div>
      {{/each}}
    </div>
  <div class="morphed-container">
        <h3>{{localize 'E20.morphedDefenses'}}</h3>
        {{#each system.defenses.morphed as |value defense|}}
          <div>{{localize (concat 'E20.defenses.' defense)}}: {{value}}</div>
        {{/each}}
        <div>{{localize 'E20.defenses.toughness'}} + {{equippedArmorEffect}} {{localize 'E20.armor'}}: {{sum system.defenses.morphed.toughness equippedArmorEffect}}</div>
      </div>
</div>
