<div class="stats-container defense-container" style="border-color: {{system.color}};">
  <table class="tg" style="border-color: {{system.color}};">
    <thead style="border-color: {{system.color}};">
      <tr>
        <th class="tg-td" style="border-color: {{system.color}};">{{localize 'E20.DefenseTitle'}}</th>

        {{!-- Defense headers --}}
        {{#each system.defenses as |defense|}}
        <th class="tg-td" style="border-color: {{system.color}};">
          <span>{{localize (lookup @root.config.defenses defense.name)}}</span>
          <span>
            {{#ifEquals ../bonusDisplayType 'input'}}
            +<input class="one-digit-input" type="number" name={{concat 'system.bonuses.' defense.name}}
              value="{{lookup @root.system.bonuses defense.name}}" />
            {{/ifEquals}}
          </span>
        </th>
        {{/each}}
      </tr>
    </thead>

    {{!-- Body --}}
    <tbody>
      {{!-- Unmorphed row --}}
      <tr>
        <td class="tg-td" style="border-color: {{system.color}};">{{localize 'E20.DefenseUnmorphed'}}</td>
        {{#each system.defenses as |defense|}}
        <td class="tg-td">
          <span
            title="{{@root.config.defenseBase}} {{localize 'E20.DefenseBase'}} + {{lookup @root.system.essences defense.essence}} {{localize (lookup @root.config.essences defense.essence)}}">
            {{defense.unmorphed.value}}
          </span>
        </td>
        {{/each}}
      </tr>

      {{!-- Morphed row --}}
      <tr>
        <td class="tg-td" style="border-color: {{system.color}};">{{localize 'E20.DefenseMorphed'}}</td>
        {{#each system.defenses as |defense|}}
        {{!-- Special case for Toughness to add armor --}}
        {{#ifEquals defense.name 'toughness'}}
        <td class="tg-td" style="border-color: {{system.color}};">
          <span
            title="{{defense.unmorphed.value}} {{localize 'E20.DefenseUnmorphed'}} + {{defense.morphed.bonus}} {{localize 'E20.DefenseBonus'}} + {{@root.equippedArmorEffect}} {{localize 'ITEM.TypeArmor'}}">
            {{sum defense.morphed.value @root.equippedArmorEffect}}
          </span>
        </td>
        {{else}}
        {{!-- Remaining Defenses --}}
        <td class="tg-td" style="border-color: {{system.color}};">
          <span
            title="{{@root.config.defenseBase}} {{localize 'E20.DefenseBase'}} + {{lookup @root.system.essences defense.essence}} {{localize (lookup @root.config.essences defense.essence)}} + {{defense.morphed.bonus}} {{localize 'E20.DefenseBonus'}}">
            {{sum defense.morphed.value}}
          </span>
        </td>
        {{/ifEquals}}
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>
