<div class="defense-container">
  <table class="tg">
    <thead>
      <tr>
        {{!-- Armor --}}
        <th class="tg-0lax">{{localize 'E20.defensesStr'}}</th>

        {{!-- Defense headers --}}
        {{#each system.defenses.morphed as |value defense|}}
        <th class="tg-0lax">
          <span>{{localize (concat 'E20.defenses.' defense)}}</span>
          <span>
            {{#ifEquals ../bonusDisplayType 'input'}}
            +<input class="one-digit-input" type="number" name={{concat 'system.bonuses.' defense}} value="{{lookup @root.system.bonuses defense}}" />
            {{/ifEquals}}
          </span>
        </th>
        {{/each}}
      </tr>
    </thead>

    {{!-- Body --}}
    <tbody>
      <tr>
        <td class="tg-0lax">{{localize 'E20.unmorphed'}}</td>
        {{#each system.defenses.unmorphed as |value defense|}}
        <td class="tg-0lax">{{value}}</td>
        {{/each}}
      </tr>
      <tr>
        <td class="tg-0lax">{{localize 'E20.morphed'}}</td>
        {{#each system.defenses.morphed as |value defense|}}
          {{#ifEquals defense 'toughness'}}
          <td class="tg-0lax tooltip">
            <span title="{{value}} + {{@root.system.bonuses.toughness}} Bonus + {{@root.equippedArmorEffect}} Armor">
              {{sum value @root.equippedArmorEffect}}
            </span>
          </td>
          {{else}}
          <td class="tg-0lax tooltip">
            <span title="{{value}} + {{lookup @root.system.bonuses defense}} Bonus">
              {{sum value @root.system.bonuses.toughness}}
            </span>
          </td>
          {{/ifEquals}}
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>
