<span class="flex-group-center">
  <h1>{{localize 'E20.zordCombiner'}}</h1>
</span>
<a class="item-create" data-type="zordCombiner" title="{{ localize 'E20.addzordCombiner' }}">
  <i class="fas fa-plus"></i>
</a>

{{#each @root.zords as |zord|}}
<li class="zord flexrow" data-zord-id="{{zord._id}}">
  <div class="item-name">
    <input class="inline-edit" data-field="name" type="text" name="zord.{{@index}}.name" value="{{zord.name}}"
      placeholder="{{ localize 'E20.name' }}" />
    <textarea class="inline-edit" data-field="system.description" name="zord.{{@index}}.description"
      placeholder="{{localize 'E20.description'}}">{{zord.system.description}}</textarea>
  </div>
  <div class="item-controls">
    <a class="item-control zord-delete" title="{{localize 'E20.deletezordCombiner'}}"><i class="fas fa-trash"></i></a>
  </div>
</li>
{{/each}}
