<div class="stats-container">
  <div class="flexrow flex-group-center">
    <div>{{localize 'E20.movement.ground'}}</div>
    <div><input class="two-digit-input" type="number" name="system.movement.ground" value="{{system.movement.ground}}" /></div>
  </div>
  <div class="flexrow flex-group-center">
    <div>{{localize 'E20.movement.swim'}}</div>
    <div><input class="two-digit-input" type="number" name="system.movement.swim" value="{{system.movement.swim}}" /></div>
  </div>
  <div class="flexrow flex-group-center">
    <div>{{localize 'E20.movement.aerial'}}</div>
    <div><input class="two-digit-input" type="text" name="system.movement.aerial" value="{{system.movement.aerial}}" /></div>
  </div>
</div>
