<div class="stats-container" style="flex-grow: 0; border-color: {{system.color}};">
  <div class="flexrow">
    <div class="resource flexcol">
      <label class="resource flex-group-center">{{localize @root.config.movementTypes.aerial}}</label>
      <input class="centered-input" type="text" name="system.altmodemovement.aerial" value="{{system.altmodemovement.aerial}}" />
    </div>
    <div class="resource flexcol">
      <label class="resource flex-group-center">{{localize @root.config.movementTypes.ground}}</label>
      <input class="centered-input" type="number" name="system.altmodemovement.ground" value="{{system.altmodemovement.ground}}" />
    </div>
    <div class="resource flexcol">
      <label class="resource flex-group-center">{{localize @root.config.movementTypes.swim}}</label>
      <input class="centered-input" type="number" name="system.altmodemovement.aquatic" value="{{system.altmodemovement.aquatic}}" />
    </div>
  </div>
</div>
