<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
  <div class="pr-header-fields">
    <div class="pr-header-fields">
      <label for="name" class="resource-label">{{localize 'E20.name'}}</label>
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
    </div>

    <div class="pr-details-fields flexrow-nowrap">
      <div class="pr-details-pronouns">
        <label for="system.pronouns" class="resource-label">{{localize 'E20.pronouns'}}</label>
        <input type="text" name="system.pronouns" value="{{system.pronouns}}"
          placeholder="{{ localize 'E20.pronouns' }}" />
      </div>
      <div class="pr-details-role">
        <label for="system.role" class="resource-label">{{localize 'E20.role'}}</label>
        <input type="text" name="system.role" value="{{system.role}}" placeholder="{{ localize 'E20.role' }}" />
      </div>
      <div class="pr-details-level">
        <label for="system.level" class="resource-label">{{localize 'E20.level'}}</label>
        <input type="number" name="system.level" value="{{system.level}}" placeholder="{{ localize 'E20.level' }}" />
      </div>
    </div>
  </div>
</header>
{{log this}}