<div class="stats-container">
  <div class="flexrow">
    <div class="resource flexcol">
      <label class="resource flex-group-center">{{localize 'E20.movement.aerial'}}</label>
      <input style="text-align: center;" type="text" name="system.movement.aerial" value="{{system.movement.aerial}}" />
    </div>
    <div class="resource flexcol">
      <label class="resource flex-group-center">{{localize 'E20.movement.ground'}}</label>
      <input style="text-align: center;" type="number" name="system.movement.ground" value="{{system.movement.ground}}" />
    </div>
    <div class="resource flexcol">
      <label class="resource flex-group-center">{{localize 'E20.movement.swim'}}</label>
      <input style="text-align: center;" type="number" name="system.movement.swim" value="{{system.movement.swim}}" />
    </div>
  </div>
</div>
