{{#>"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.resources
title='E20.ItemTypeResourcePlural' dataType='resource'}}
  {{#*inline "item-label" item}}
  {{item.name}}
  <input class="one-digit-input inline-edit" data-field="system.uses.value" type="number"
    name="item.system.uses.value" value="{{item.system.uses.value}}" />
  /
  <input class="one-digit-input inline-edit" data-field="system.uses.max" type="number" name="item.system.uses.max"
    value="{{item.system.uses.max}}" />
  </span>

  {{/inline}}
  {{#*inline "expand-details" item}}
  <div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>
  {{/inline}}

  {{#*inline "chips" item}}
  {{#if item.system.source.book}}
  <span class="chip" name="chip.source.book">{{item.system.source.book}}</span>
  {{/if}}
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
