<div class="items-container">
  <ol class="items-list">
    <li class="items flexrow">
      <div class="flexrow">
        <div class="item-name flexrow item-info">{{localize 'E20.armor'}}</div>
        <div class="item-controls">
          <a class="item-create" data-type="armor" title="{{ localize 'E20.addArmor' }}"><i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
    </li>
  </ol>
  {{#each @root.armors as |armor|}}
  <ol class="items-list">
    <li class="item flexrow" data-item-id="{{armor._id}}" style="margin-left: 0px;">
     <details>
      <summary class="flexrow">
         <input class="inline-edit" data-field="data.equipped" type="checkbox" name="armor.{{@index}}.equipped" {{checked armor.data.equipped}}/>
        {{armor.name}}
      </summary>
        <div class="expand-details">
          <span>{{{armor.system.description}}}</span>
            <div class="chip-section"> 
              <div class="chip">
                  {{localize (concat 'E20.availabilities.' armor.system.availability)}} 
              </div>
              <div class="chip">
                {{localize (concat 'E20.armorClassifications.' armor.system.classification)}}
              </div>
            </div>
        </div>
    </details>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'E20.editArmor'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'E20.deleteArmor'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>        
  {{/each}}
  </ol>
</div>