{{#>"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.weapons title='E20.weapons' dataType='weapon'}}
  {{#*inline "additional-expand-details" item}}
    <div>{{localize 'E20.effect'}}: {{item.system.effect}}</div>
    <div>{{localize 'E20.alternateEffects'}}: {{item.system.alternateEffects}}</div>
  {{/inline}}
  {{#*inline "roll-button" item}}
    <a class="rollable" data-roll-type="weapon" data-skill="{{item.system.classification.skill}}"><i class="fas fa-dice-d20"></i></a>
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
