{{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs" items=@root.weapons title='E20.ItemTypeWeaponPlural' dataType='weapon'}}
  {{#*inline "expand-details" item}}
    {{> "systems/essence20/templates/actor/parts/items/weapon/details.hbs"}}
  {{/inline}}

  {{#*inline "roll-button" item}}
    <a class="rollable" data-roll-type="weapon" title="{{localize 'E20.WeaponRollTitle'}}"><i class="fas fa-dice-d20"></i></a>
  {{/inline}}

  {{#*inline "item-label" item}}
    {{#ifEquals @root.actor.type 'powerRanger'}}
      {{>"systems/essence20/templates/actor/parts/items/classFeature/selector.hbs"}}
    {{else ifEquals @root.actor.type 'transformer'}}
      {{>"systems/essence20/templates/actor/parts/misc/mode-selector.hbs"}}
    {{/ifEquals}}

    {{item.name}}
  {{/inline}}

  {{#*inline "subcontainers" parentItem}}
  {{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs" items=parentItem.weaponEffects title="E20.ItemTypeWeaponEffectPlural" dataType="weaponEffect" parentId=parentItem._id}}
    {{#*inline "item-label" item}}
      {{item.name}}
    {{/inline}}
  {{/"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs"}}

  {{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs" items=parentItem.upgrades title="E20.ItemTypeUpgradePlural" dataType="upgrade" parentId=parentItem._id}}
    {{#*inline "expand-details" item}}
      {{> "systems/essence20/templates/actor/parts/items/upgrade/details.hbs"}}
    {{/inline}}

    {{#*inline "item-label" item}}
      {{item.name}}
    {{/inline}}
  {{/"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs"}}
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs"}}
