{{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs" items=@root.weapons title='E20.ItemTypeWeaponPlural' dataType='weapon'}}
  {{#*inline "expand-details" item}}
    {{> "systems/essence20/templates/actor/parts/items/weapon/details.hbs"}}
  {{/inline}}

  {{#*inline "item-label" item}}
    {{#ifEquals @root.actor.type 'transformer'}}
      {{>"systems/essence20/templates/actor/parts/misc/mode-selector.hbs"}}
    {{/ifEquals}}

    {{item.name}}
  {{/inline}}

  {{#*inline "subcontainers" parentItem}}
    {{!-- Weapon Effects --}}
    {{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs" items=parentItem.system.items title="E20.ItemTypeWeaponEffectPlural" dataType="weaponEffect" parentItem=parentItem}}

      {{#*inline "roll-button"}}
        <a class="rollable" data-roll-type="weaponEffect" title="{{localize 'E20.WeaponRollTitle'}}"><i class="fas fa-dice-d20"></i></a>
      {{/inline}}

      {{#*inline "item-label" item}}
        <div class="flexrow" style="align-items: center; gap: 2px;">
          <div style="flex-grow: 1.5;">
            {{item.name}}
          </div>
          <select class="inline-edit" data-field="system.classification.skill" data-parent-field="system.items.{{@key}}.classification.skill" name="item.classification.skill">
            {{selectOptions @root.actor.system.skills selected=item.classification.skill localize=true}}
          </select>

          <div class="flexrow" style="flex-wrap: nowrap; gap: 2px;">
            <div style="text-align: center;" title="{{item.numTargets}} {{localize "E20.WeaponTargets"}}">
              {{item.numTargets}} <i class="fas fa-bullseye"></i>
            </div>
            <div style="text-align: center;" title="{{item.shiftDown}} {{localize "E20.ShiftDown"}}">
              {{item.shiftDown}} <i class="fas fa-arrow-down"></i>
            </div>
            <div style="text-align: center;" title="{{item.numHands}} {{localize "E20.WeaponHands"}}">
              {{item.numHands}} <i class="fas fa-hand"></i>
            </div>
            <div style="text-align: center;" title="{{item.damageValue}} {{localize (lookup @root.config.damageTypes item.damageType)}} {{localize "E20.Damage"}}">
              {{item.damageValue}}
              {{#ifEquals item.damageType 'sharp'}}
                <i class="fas fa-sword"></i>
              {{else ifEquals item.damageType 'blunt'}}
                <i class="fas fa-hammer"></i>
              {{else ifEquals item.damageType 'element'}}
                <i class="fas fa-droplet"></i>
              {{else ifEquals item.damageType 'maneuver'}}
                <i class="fas fa-person-falling"></i>
              {{else ifEquals item.damageType 'stun'}}
                <i class="fas fa-face-spiral-eyes"></i>
              {{else ifEquals item.damageType 'intimidate'}}
                <i class="fas fa-person-harassing"></i>
              {{/ifEquals}}
            </div>
          </div>
        </div>
      {{/inline}}

      {{#*inline "expand-details" item parentItem}}
        {{> "systems/essence20/templates/actor/parts/items/weaponEffect/details.hbs"}}
      {{/inline}}
    {{/"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs"}}

    {{!-- Upgrades --}}
    {{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs" items=parentItem.system.items title="E20.ItemTypeUpgradePlural" dataType="upgrade" parentItem=parentItem}}
      {{#*inline "item-label" item}}
        {{item.name}}
      {{/inline}}

      {{#*inline "expand-details" item parentItem}}
        {{> "systems/essence20/templates/actor/parts/items/upgrade/details.hbs"}}
      {{/inline}}
    {{/"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs"}}
  {{/inline}}

{{/"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs"}}
