<div>{{localize 'E20.ItemDescription'}}: {{{item.description}}}</div>
<div>{{localize 'E20.UpgradePrerequisite'}}: {{{item.prerequisite}}}</div>
<div>{{localize 'E20.UpgradeBenefit'}}: {{{item.benefit}}}</div>
<div class="chip-section">
  <span class="chip" name="chip.upgrade.type">{{localize 'E20.UpgradeType'}}: {{lookup @root.config.upgradeTypes item.type}}</span>
  <span class="chip" name="chip.upgrade.availability">{{localize 'E20.UpgradeAvailability'}}: {{lookup @root.config.availabilities item.availability}}</span>
  {{#if item.armorBonus.value}}
  <span class="chip" name="chip.upgrade.armorBonus">{{lookup @root.config.defenses item.armorBonus.defense}}: {{item.armorBonus.value}}</span>
  {{/if}}
  {{#each item.traits as |trait|}}
  <span class="chip" name="chip.upgrade.trait.{{trait}}">{{lookup @root.config.armorTraits trait}}</span>
  {{/each}}
</div>
