<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <div class="pr-outer-border">
      <div class="pr-inner-border">

        {{!-- Actor Sheet Header --}}
        {{> "systems/essence20/templates/actor/parts/actor-pr-header.hbs"}}

        {{!-- Actor Sheet Body --}}
        <section class="sheet-body">
          <h3>{{localize 'E20.defensesStr'}}</h3>
          <div>{{localize 'E20.defenses.toughness'}}: {{system.defenses.unmorphed.toughness}}</div>
          <div>{{localize 'E20.defenses.evasion'}}: {{system.defenses.unmorphed.evasion}}</div>
          <div>{{localize 'E20.defenses.willpower'}}: {{system.defenses.unmorphed.willpower}}</div>
          <div>{{localize 'E20.defenses.cleverness'}}: {{system.defenses.unmorphed.cleverness}}</div>

          <h3>{{localize 'E20.morphedDefenses'}}</h3>
          <div>{{localize 'E20.defenses.toughness'}}: {{sum system.defenses.morphed.toughness equippedArmorEffect}}
          </div>
          <div>{{localize 'E20.defenses.evasion'}}: {{system.defenses.morphed.evasion}}</div>
          <div>{{localize 'E20.defenses.willpower'}}: {{system.defenses.morphed.willpower}}</div>
          <div>{{localize 'E20.defenses.cleverness'}}: {{system.defenses.morphed.cleverness}}</div>

          <h3>{{localize 'E20.powers'}}</h3>
          <a class="item-create" data-type="power" title="{{ localize 'E20.addPower' }}">
            <i class="fas fa-plus"></i>
          </a>
          {{#each @root.powers as |power|}}
          <li class="item flexrow" data-item-id="{{power._id}}">
            <div class="item-name">
              <input class="inline-edit" data-field="name" type="text" name="power.{{@index}}.name"
                value="{{power.name}}" placeholder="{{ localize 'E20.name' }}" />
              <input class="inline-edit" data-field="data.description" type="text" name="power.{{@index}}.description"
                value="{{power.data.description}}" placeholder="{{ localize 'E20.description' }}" />
            </div>
            <div class="item-controls">
              <a class="item-control item-delete" title="{{localize 'E20.deletePower'}}"><i
                  class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}

          {{!-- Personal Power --}}
          <div class="resource flex-group-center">
            <label for="system.personalPower.value" class="resource-label">{{localize 'E20.personalPower'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="system.personalPower.value" value="{{system.personalPower.value}}" />
              <span> / </span>
              <input type="number" name="system.personalPower.max" value="{{system.personalPower.max}}" />
            </div>
          </div>

          {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}
          {{> "systems/essence20/templates/actor/parts/actor-character.hbs"}}
        </section>
      </div>
    </div>
</form>