<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <div class="sheet-header">
    {{!-- Actor Sheet Header --}}
    <span class="resource flex-group-center">
      {{> "systems/essence20/templates/actor/parts/actor-base-header.hbs"}}
    </span>
    <div class="pr-header-fields">
      <div class="resource flex-group-center">
        <h3>{{localize 'E20.threatLevel'}}</h3>
        <input type="number" name="system.threatLevel" value="{{system.threatLevel}}" />
      </div>
      <div class="npc-health-container">
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">{{localize 'E20.health'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <span>/</span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="npc-sheet-container-1">
    {{!-- NPC Defenses --}}
    <div class="npc-sheet-container-2">
      {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
    </div>

    <div>
      {{> "systems/essence20/templates/actor/parts/actor-zord-movement.hbs"}}
    </div>
  </div>

  <div class="npc-abilities">
    <div class="npc-abilities-1">
      {{> "systems/essence20/templates/actor/parts/actor-general-perks.hbs"}}

      <div class="npc-hangup">
        <span class="resource flex-group-center">
          <h2>{{localize 'E20.hangUps'}}</h2>
        </span>
        <a class="item-create" data-type="hangUp" title="{{ localize 'E20.addHangUp' }}">
          <i class="fas fa-plus"></i>
        </a>
        {{#each @root.hangUps as |hangUp|}}
        <div class="item" data-item-id="{{hangUp._id}}">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><i class="fas fa-dice-d20"></i></a>
          </div>
          <div class="item-name">
            <input class="inline-edit" data-field="name" type="text" name="hangUp.{{@index}}.name"
              value="{{hangUp.name}}" placeholder="{{ localize 'E20.name' }}" />
          </div>
          <div class="item-controls">
            <a class="item-control item-delete" title="{{localize 'E20.deleteHangUp'}}"><i class="fas fa-trash"></i></a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="npc-abilities-2">
      <div class="npc-powers">
        <span class="resource flex-group-center">
          <h1>{{localize 'E20.powers'}}</h1>
        </span>
        <a class="item-create" data-type="power" title="{{ localize 'E20.addPower' }}">
          <i class="fas fa-plus"></i>
        </a>
        <div>
          {{#each @root.powers as |power|}}
          <li class="item flexrow" data-item-id="{{power._id}}">
            <div class="item-name">
              <div class="item-image">
                <a class="rollable" data-roll-type="power"><img src="{{power.img}}" title="{{power.name}}" width="24"
                    height="24" /></a>
              </div>
              <input class="inline-edit" data-field="name" type="text" name="power.{{@index}}.name"
                value="{{power.name}}" placeholder="{{ localize 'E20.name' }}" />
              <textarea class="inline-edit" data-field="data.description" name="power.{{@index}}.description"
                placeholder="{{localize 'E20.description'}}">{{power.data.description}}</textarea>
            </div>
            <div class="item-controls">
              <a class="item-control item-delete" title="{{localize 'E20.deletePower'}}"><i
                  class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="npc-weapons">
    {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
  </div>

  <div class="skills-container accordion-wrapper">
    <div class="flex-group-center accordion-label">
      <span>Skills</span>
      <a class="item-control"><i class="accordion-icon fas fa-chevron-down"></i></a>
    </div>

    {{#each system.skills as |skills essence|}}
      {{#each skills as |fields skill|}}
        {{#if (lookup @root.displayedNpcSkills skill)}}
        <div>
        {{else}}
        <div class="accordion-content">
        {{/if}}

        {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence=essence skill=skill fields=fields}}
        </div>
      {{/each}}
    {{/each}}
  </div>

</form>
