<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/actor-base-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body">
    <span>{{localize 'E20.threatLevel'}}</span><input type="number" name="system.threatLevel" value="{{system.threatLevel}}"/>

    <h3>{{localize 'E20.defensesStr'}}</h3>
      {{#each system.defenses as |value defense|}}
      <span>{{localize (lookup E20.defenses defense)}}</span><input type="number" name="system.defenses.{{defense}}" value="{{value}}"/>
      {{/each}}

    <h3>{{localize 'E20.powers'}}</h3>
    <a class="item-create" data-type="threatPower" title="{{ localize 'E20.addPower' }}">
      <i class="fas fa-plus"></i>
    </a>
    {{#each threatPowers as |power|}}
      <li class="item flexrow" data-item-id="{{power._id}}">
        <div class="item-name">
          <input class="inline-edit" data-field="name" type="text" name="power.{{@index}}.name" value="{{power.name}}" placeholder="{{ localize 'E20.name' }}"/>
          <input class="inline-edit" data-field="data.actionType" type="text" name="power.{{@index}}.actionType" value="{{power.data.actionType}}" placeholder="{{ localize 'E20.actionType' }}"/>
          <input class="inline-edit" data-field="data.charges" type="number" name="power.{{@index}}.charges" value="{{power.data.charges}}" placeholder="{{ localize 'E20.numCharges' }}"/>
          <input class="inline-edit" data-field="data.cost" type="number" name="power.{{@index}}.cost" value="{{power.data.cost}}" placeholder="{{ localize 'E20.cost' }}"/>
          <textarea class="inline-edit" data-field="data.description" name="power.{{@index}}.description" placeholder="{{localize 'E20.description'}}">{{power.data.description}}</textarea>
          <span>{{localize 'E20.limited'}}</span>
            <input class="inline-edit" data-field="data.limited" type="checkbox" name="power.limited" {{checked power.data.limited}}/>
        </div>
        <div class="item-controls">
          <a class="item-control item-delete" title="{{localize 'E20.deletePower'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}

    <h3>{{localize 'E20.hangUp'}}</h3>
    <input type="text" name="system.hangup.name" value="{{system.hangup.name}}"/>
    <textarea name="system.hangup.description" placeholder="{{localize 'E20.description'}}">{{system.hangup.description}}</textarea>

    {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}
  </section>
</form>
