<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-npc-header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" style="border-color: {{system.color}};" data-tab="main"> {{ localize "E20.TabMain" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="altmode">{{ localize "E20.TabAltMode" }}</a>   
    <a class="item" style="border-color: {{system.color}};" data-tab="notes">{{ localize "E20.TabNotes" }}</a>
  </nav>

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- Main Tab --}}
    <div class="tab main flexcol" data-group="primary" data-tab="main">
      <div class="npc-row">
        <div class="npc-column defenses">
          {{!-- NPC Essence Scores --}}
          {{> "systems/essence20/templates/actor/parts/actor-npc-essence-scores.hbs"}}

          {{!-- NPC Defenses --}}
          {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
        </div>
        <div class="npc-column health">
          {{!-- Health --}}
          {{> "systems/essence20/templates/actor/parts/actor-health.hbs"}}
          {{!-- Movement --}}
          {{> "systems/essence20/templates/actor/parts/actor-movement.hbs"}}
        </div>
      </div>

      <div class="npc-row">
        <div class="npc-column skills">
          {{!-- Skills --}}
          {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}
        </div>
        <div class="npc-column items">
          {{!-- Weapons --}}
          {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
          {{!-- Hang-ups --}}
          {{> "systems/essence20/templates/actor/parts/actor-hang-ups.hbs"}}
          {{!-- Threat Powers --}}
          {{> "systems/essence20/templates/actor/parts/actor-threat-powers.hbs"}}
          {{!-- Perks --}}
          {{> "systems/essence20/templates/actor/parts/actor-perks.hbs"}}
          {{!-- Gear --}}
          {{> "systems/essence20/templates/actor/parts/actor-gear.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Alt Mode Tab --}}
    <div class="tab altmode" data-group="primary" data-tab="altmode">
      {{> "systems/essence20/templates/actor/parts/actor-alt-mode.hbs"}}
    </div> 

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{> "systems/essence20/templates/actor/parts/actor-notes.hbs"}}
    </div>
  </section>
</form>
