<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/actor-gijoe-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body">
    <div class="stats-container defense-container">
      <h3>{{localize 'E20.defensesStr'}}</h3>
      <div>{{localize 'E20.defenses.toughness'}}: {{sum system.defenses.toughness equippedArmorEffect}}</div>
      <div>{{localize 'E20.defenses.evasion'}}: {{system.defenses.evasion}}</div>
      <div>{{localize 'E20.defenses.willpower'}}: {{system.defenses.willpower}}</div>
      <div>{{localize 'E20.defenses.cleverness'}}: {{system.defenses.cleverness}}</div>
    </div>
    {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}
    {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}
  </section>
</form>