<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <header>
    {{!-- Actor Sheet Header --}}
    {{> "systems/essence20/templates/actor/parts/actor-base-header.hbs"}}
    <div class="zord-header">
      <input type="text" name="system.prerequisite" value="{{system.prerequisite}}"
        placeholder="{{ localize 'E20.prerequisite' }}" />
      <input type="text" name="system.ranger" value="{{system.ranger}}" placeholder="{{ localize 'E20.ranger' }}" />
      <input type="checkbox" name="system.isCombiner" {{checked system.isCombiner}} />
    </div>

  </header>
  {{!-- Actor Sheet Body --}}
  <section class="sheet-body">
    <div class="zord-sheet-grid">
      {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}

      <div class="flexcol">
        <div class="zord-container-2">
          {{> "systems/essence20/templates/actor/parts/actor-zord-skills.hbs"}}
        </div>

      {{!-- Features --}}
      {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.features title='E20.features' dataType='feature'}}

      </div>
      <div class="zord-weapons">
        {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
      </div>
    </div>
  </section>
</form>
