<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-npc-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- NPC Defenses --}}
    {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
    {{!-- Movement --}}
    {{> "systems/essence20/templates/actor/parts/actor-movement.hbs"}}
    {{!-- Hang-ups --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.hangUps
    title='E20.ItemTypeHangupPlural' dataType='hangUp'}}
    {{!-- Threat Powers --}}
    {{#> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.threatPowers title='E20.ItemTypeThreatPowerPlural' dataType='threatPower'}}
      {{#*inline "chips" item}}
      {{#if item.system.actionType}}
      <span class="chip" name="chip.actionType">{{item.system.actionType}}</span>
      {{/if}}
      {{#if item.system.cost}}
      <span class="chip" name="chip.cost">{{localize 'E20.ThreatPowerCost'}}: {{item.system.cost}}</span>
      {{/if}}
      {{#if item.system.limited}}
      <span class="chip" name="chip.limited">{{localize 'E20.ThreatPowerLimited'}}</span>
      {{/if}}
      {{/inline}}
    {{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
    {{!-- Perks --}}
    {{> "systems/essence20/templates/actor/parts/actor-perks.hbs"}}
    {{!-- Weapons --}}
    {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
    {{!-- Skills --}}
    {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}
  </section>
</form>
