<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-npc-header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" style="border-color: {{system.color}};" data-tab="main"> {{ localize "E20.TabMain" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="altmode">{{ localize "E20.TabAltMode" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="notes">{{ localize "E20.TabNotes" }}</a>
  </nav>

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- Main Tab --}}
    <div class="tab main flexcol" data-group="primary" data-tab="main">
      <div class="npc-row">
        <div class="npc-essence-scores">
          {{!-- NPC Essence Scores --}}
          {{> "systems/essence20/templates/actor/parts/actor-npc-essence-scores.hbs"}}
        </div>
        <div class="npc-health">
          {{!-- Health --}}
          {{> "systems/essence20/templates/actor/parts/actor-health.hbs"}}
        </div>
      </div>
      <div class="npc-row">
        <div class="npc-defenses">
          {{!-- NPC Defenses --}}
          {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
        </div>
        <div class="npc-movement">
          {{!-- Movement --}}
          {{> "systems/essence20/templates/actor/parts/actor-movement.hbs"}}
        </div>
      </div>

      <div class="npc-row">
        {{!-- Skills --}}
        <div class="npc-skills">
          {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}
        </div>

        {{!-- Items --}}
        <div class="npc-items">
          {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
          {{> "systems/essence20/templates/actor/parts/hangUp/container.hbs"}}
          {{> "systems/essence20/templates/actor/parts/actor-threat-powers.hbs"}}
          {{> "systems/essence20/templates/actor/parts/actor-perks.hbs"}}
          {{> "systems/essence20/templates/actor/parts/gear/container.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Alt Mode Tab --}}
    <div class="tab altmode" data-group="primary" data-tab="altmode">
      {{> "systems/essence20/templates/actor/parts/altMode/container.hbs"}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{> "systems/essence20/templates/actor/parts/actor-notes.hbs"}}
    </div>
  </section>
</form>
