<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-vehicle-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
    {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}
    {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}

    <div class="stats-container" style="flex-grow: 0;">
      <div class="flexrow">
        <div class="resource flexcol">
          <label class="resource flex-group-center">{{localize 'E20.VehicleCrew'}}</label>
          <input type="text" style="text-align: center;" name="system.crew.description"
            value="{{system.crew.description}}" />
        </div>
        <div class="resource flexcol">
          <label class="resource flex-group-center">
            {{localize 'E20.VehicleFirepoints'}}
          </label>
          <input type="number" style="text-align: center;" name="system.firepoints.value"
            value="{{system.firepoints.value}}" />
        </div>
        <div class="resource flexcol">
          <label class="resource flex-group-center">
            {{localize 'E20.VehicleDrivers'}}
          </label>
          <input type="number" style="text-align: center;" name="system.crew.numDrivers"
            value="{{system.crew.numDrivers}}" />
        </div>
        <div class="resource flexcol">
          <label class="resource flex-group-center">
            {{localize 'E20.VehiclePassengers'}}
          </label>
          <input type="number" style="text-align: center;" name="system.crew.numPassengers"
            value="{{system.crew.numPassengers}}" />
        </div>
      </div>
      <div class="flexrow">
        <textarea rows="3" name="system.firepoints.description"
          placeholder="{{localize 'E20.VehicleFirepointsDescription'}}">
          {{system.firepoints.description}}
        </textarea>
      </div>
    </div>

    {{> "systems/essence20/templates/actor/parts/actor-traits.hbs"}}
  </section>
</form>
