<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  <header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="pr-header-fields">
      <div class="header-fields flex-group-center">
        <label for="name" class="resource-label">{{localize 'E20.ActorName'}}</label>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      </div>
      <div class="flexrow">
        <div class="resource flex-group-center">
          {{localize 'E20.NpcThreatLevel'}}
          <input type="number" name="system.threatLevel" value="{{system.threatLevel}}" />
        </div>
        <div class="npc-health-container">
          <div class="resource flex-group-center">
            <label for="system.health.value" class="resource-label">{{localize 'E20.ActorHealth'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
              <span>/</span>
              <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- NPC Defenses --}}
    {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
    {{!-- Movement --}}
    {{> "systems/essence20/templates/actor/parts/actor-movement.hbs"}}
    {{!-- Hang-ups --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.hangUps
    title='E20.ItemTypeHangupPlural' dataType='hangUp'}}
    {{!-- Threat Powers --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.threatPowers
    title='E20.ItemTypeThreatPowerPlural' dataType='threatPower'}}
    {{!-- Perks --}}
    {{> "systems/essence20/templates/actor/parts/actor-perks.hbs"}}
    {{!-- Weapons --}}
    {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
    {{!-- Skills --}}
    {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}
  </section>
</form>