<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="sheet-header">
    {{!-- Actor Sheet Header --}}
    <span class="resource flex-group-center">
      {{> "systems/essence20/templates/actor/parts/actor-base-header.hbs"}}
    </span>
    <div class="pr-header-fields">
      <div class="resource flex-group-center">
        <h3>{{localize 'E20.threatLevel'}}</h3>
        <input type="number" name="system.threatLevel" value="{{system.threatLevel}}" />
      </div>
      <div class="npc-health-container">
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">{{localize 'E20.health'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <span>/</span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="npc-sheet-container-1">
    {{!-- NPC Defenses --}}
    <div class="npc-sheet-container-2">
      {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
    </div>

    <div>
      {{> "systems/essence20/templates/actor/parts/actor-zord-movement.hbs"}}
    </div>
  </div>

  <div class="npc-abilities">
    {{!-- Hang-ups --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.hangUps title='E20.hangUps' dataType='hangUp'}}
    {{!-- Threat Powers --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.threatPowers title='E20.powers' dataType='threatPower'}}
  </div>

  <div class="npc-weapons">
    {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
  </div>

  <div class="skills-container accordion-wrapper">
    <div class="flex-group-center accordion-label">
      <span>Skills</span>
      <a class="item-control"><i class="accordion-icon fas fa-chevron-down"></i></a>
    </div>

    {{#each system.skills as |skills essence|}}
      {{#each skills as |fields skill|}}
        {{#if (lookup @root.displayedNpcSkills skill)}}
        <div>
        {{else}}
        <div class="accordion-content">
        {{/if}}

        {{> "systems/essence20/templates/actor/parts/actor-essence-skills.hbs" essence=essence skill=skill fields=fields}}
        </div>
      {{/each}}
    {{/each}}
  </div>

</form>
