<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  <div class="sheet-header">
    <span class="resource flex-group-center">
      {{> "systems/essence20/templates/actor/parts/actor-base-header.hbs"}}
    </span>
    <div class="pr-header-fields">
      <div class="header-fields flex-group-center">
        <label for="name" class="resource-label">{{localize 'E20.actorName'}}</label>
        <h2 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h2>
      </div>
      <div class="flexrow">
        <div class="resource flex-group-center">
          {{localize 'E20.npcThreatLevel'}}
          <input type="number" name="system.threatLevel" value="{{system.threatLevel}}" />
        </div>
        <div class="npc-health-container">
          <div class="resource flex-group-center">
            <label for="system.health.value" class="resource-label">{{localize 'E20.actorHealth'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
              <span>/</span>
              <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- NPC Defenses --}}
    {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
    {{!-- Movement --}}
    {{> "systems/essence20/templates/actor/parts/actor-movement.hbs"}}
    {{!-- Hang-ups --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.hangUps
    title='E20.itemTypeHangupPlural' dataType='hangUp'}}
    {{!-- Threat Powers --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.threatPowers
    title='E20.itemTypeThreatPowerPlural' dataType='threatPower'}}
    {{!-- Perks --}}
    {{> "systems/essence20/templates/actor/parts/actor-perks.hbs"}}
    {{!-- Weapons --}}
    {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
    {{!-- Skills --}}
    {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}
  </section>
</form>
