<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="sheet-header">
    {{!-- Actor Sheet Header --}}
    {{> "systems/essence20/templates/actor/parts/actor-base-header.hbs"}}
    <div class="zord-header">
      <input type="text" name="system.prerequisite" value="{{system.prerequisite}}" placeholder="{{ localize 'E20.prerequisite' }}" />
      <input type="text" name="system.ranger" value="{{system.ranger}}" placeholder="{{ localize 'E20.ranger' }}" />
      <input type="checkbox" name="system.isCombiner" {{checked system.isCombiner}} />
    </div>
    {{!-- Actor Sheet Body --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="skills"> {{ localize "E20.skills" }}</a>
      <a class="item" data-tab="combat">{{ localize "E20.combat" }}</a>
      <a class="item" data-tab="gear">{{ localize "E20.gear" }}</a>
      <a class="item" data-tab="background">{{ localize "E20.background" }}</a>
      <a class="item" data-tab="notes">{{ localize "E20.notes" }}</a>
    </nav>
  </header>
  <section class="sheet-body">
    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/essence20/templates/actor/parts/actor-zord-features.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}
    </div>

    {{!-- Gear Tab --}}
    <div class="tab gear" data-group="primary" data-tab="gear">
      {{> "systems/essence20/templates/actor/parts/actor-gear.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-armor.hbs"}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      {{> "systems/essence20/templates/actor/parts/actor-defenses.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-armor.hbs"}}
    </div>

    {{!-- Origin Tab --}}
    <div class="tab background" data-group="primary" data-tab="background">
      {{> "systems/essence20/templates/actor/parts/actor-background.hbs"}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{> "systems/essence20/templates/actor/parts/actor-notes.hbs"}}
    </div>
  </section>
</form>
