<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="pr-header-fields">
      <div>
        <label for="name" class="resource-label">{{localize 'E20.ActorName'}}</label>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      </div>
      <div class="pr-details-fields flexrow-nowrap">
        <div>
          <label for="prerequisite" class="resource-label">{{localize 'E20.ZordPrerequisite'}}</label>
          <input type="text" name="system.prerequisite" value="{{system.prerequisite}}"
            placeholder="{{ localize 'E20.ZordPrerequisite' }}" />
        </div>
        <div>
          <label for="ranger" class="resource-label">{{ localize 'E20.ZordRanger' }}</label>
          <input type="text" name="system.ranger" value="{{system.ranger}}"
            placeholder="{{ localize 'E20.ZordRanger' }}" />
        </div>
        <div class="flexcol">
          <label for="iscombiner" class="resource-label">Combiner</label>
          <input type="checkbox" name="system.isCombiner" {{checked system.isCombiner}} />
        </div>
      </div>
    </div>
</header>

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- Defenses --}}
    {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
    {{!-- Common --}}
    {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}
    {{!-- Skills --}}
    {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}
    {{!-- Features --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.features
    title='E20.ItemTypeFeaturePlural' dataType='feature'}}
    {{!-- Weapons --}}
    {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
    {{!-- Megaform Traits --}}
    {{>"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.megaformTraits
    title='E20.ItemTypeMegaformTraitPlural' dataType='megaformTrait'}}
  </section>
</form>