<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-transformer-header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" style="border-color: {{system.color}};" data-tab="skills"> {{ localize "E20.TabSkills" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="combat">{{ localize "E20.TabCombat" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="gear">{{ localize "E20.TabGear" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="perks">{{ localize "E20.TabPerks" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="altmode">{{ localize "E20.TabAltMode" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="background">{{ localize "E20.TabBackground" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="notes">{{ localize "E20.TabNotes" }}</a>
  </nav>

  <hr style="border-color: {{system.color}};"/>

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body">
    {{!-- Skills Tab --}}
    <div class="tab skills flexcol" data-group="primary" data-tab="skills">
      {{> "systems/essence20/templates/actor/parts/actor-defenses.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-pc-skills.hbs"}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat flexcol" data-group="primary" data-tab="combat">
      {{> "systems/essence20/templates/actor/parts/actor-defenses.hbs" bonusDisplayType='input'}}
      {{> "systems/essence20/templates/actor/parts/actor-class-features.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-armor.hbs"}}
    </div>

    {{!-- Gear Tab --}}
    <div class="tab gear flexcol" data-group="primary" data-tab="gear">
      {{> "systems/essence20/templates/actor/parts/actor-gear.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-armor.hbs"}}
    </div>

    {{!-- Perks Tab --}}
    <div class="tab perks" data-group="primary" data-tab="perks">
      {{> "systems/essence20/templates/actor/parts/actor-perks.hbs"}}
    </div>

    {{!-- Alt Mode Tab --}}
    <div class="tab background flexcol" data-group="primary" data-tab="altmode">
      {{> "systems/essence20/templates/actor/parts/actor-altmode.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
      {{> "systems/essence20/templates/actor/parts/actor-defenses.hbs" bonusDisplayType='input'}}
    </div>

    {{!-- Origin Tab --}}
    <div class="tab background flexcol" data-group="primary" data-tab="background">
      {{> "systems/essence20/templates/actor/parts/actor-background.hbs"}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{> "systems/essence20/templates/actor/parts/actor-notes.hbs"}}
    </div>
  </section>
</form>
