<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-gijoe-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="stats-container defense-container">
      <h3>{{localize 'E20.DefenseTitle'}}</h3>
      <div>{{localize config.defenses.toughness}}: {{sum system.defenses.toughness equippedArmorEffect}}</div>
      <div>{{localize config.defenses.evasion}}: {{system.defenses.evasion}}</div>
      <div>{{localize config.defenses.willpower}}: {{system.defenses.willpower}}</div>
      <div>{{localize config.defenses.cleverness}}: {{system.defenses.cleverness}}</div>
    </div>
    {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}
    {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}
  </section>
</form>
