<label for="system.faction" class="resource-label">{{localize 'E20.ActorFaction'}}</label>

{{#if @root.faction}}
  <li class="item" style="list-style-type: none;" data-item-id="{{faction._id}}" data-parent-id="{{../parentId}}">
    <div class="flexrow" style="align-items: center; gap: 2px;">
      <input type="text" name="system.role" value="{{faction.name}}" />
      <div class="item-controls" style="flex-grow: 0;">
        <a class="item-control item-delete" data-tooltip="{{localize 'E20.DeleteItem'}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </div>
  </li>
{{else}}
  <div class="flexrow">
    <input class="no-unlock" type="text" value="{{localize 'E20.FactionDrop'}}" readonly />
  </div>
{{/if}}
