{{!-- Source --}}
{{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.ItemSource'}}
{{#*inline "item-field-inputs"}}
<input type="text" name="system.source.book" value="{{system.source.book}}" placeholder="{{localize 'E20.ItemSourceBook'}}"/>
<input class="two-digit-input" type="number" name="system.source.page" value="{{system.source.page}}" placeholder="{{localize 'E20.ItemSourcePage'}}" min="0" step="1"/>
{{/inline}}
{{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

<div>
  {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.ItemUuid'}}
  {{#*inline "item-field-inputs"}}
    <input type="text" name="item.uuid" value="{{item.uuid}}" disabled/>
    <div class="item-controls">
      <a class="clipboard-copy" data-uuid="{{item.uuid}}" data-tooltip="{{localize 'E20.CopyClipboard'}}">
        <i class="fa-solid fa-fw fa-clipboard"></i>
      </a>
    </div>
  {{/inline}}
  {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
</div>

{{!-- Description --}}
<h3>{{localize 'E20.ItemDescription'}}</h3>
<div class="description-tab flexrow active" data-group="primary" data-tab="description">
  {{editor system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}
</div>


