{{#> "systems/essence20/templates/item/parts/sheet-field.hbs" className=className label=label items=items type=type}}
{{#*inline "item-field-inputs"}}
{{#itemsContainType items type}}
  <div class="flexcol">
    {{#each items as |item|}}
      {{#ifEquals item.type ../type}}
      <div class="flexrow {{item.type}}" data-item-key="{{@key}}" data-item-uuid="{{item.uuid}}">
        <ul class="items-list">
          <li class="item">
          <div class="flexrow" style="align-items: center; flex-wrap: nowrap">
            <label style="white-space: nowrap; overflow: hidden;">{{item.name}}</label>
            <div class="item-controls">
              <a class="item-control {{../className}}-delete flex-right" data-tooltip="{{localize 'E20.DeleteItem'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
          </li>
        </ul>
      </div>
      {{/ifEquals}}
    {{/each}}
  </div>
{{else}}
  <label>{{localize 'E20.ItemDrop'}}</label>
{{/itemsContainType}}
{{/inline}}
{{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
