<div>
  <div>
    {{#each system.prerequisites as |prereq|}}
      {{> (lookup prereq 'partial') prereq=prereq}}
      <input type="hidden" name="system.prerequisites.{{@key}}.previousKey" value="{{@root.previousKey}}">
      {{#unless @last}}
        <select name="system.prerequisites.{{@key}}.compare">
          <option>or</option>
          <option>and</option>
        </select>
      {{/unless}}
      {{assign "previousKey" @key}}
    {{/each}}
  </div>
  <select class="prereq" name="prereq-option" id="prereq-option">
    {{selectOptions @root.config.PrereqTypes}}
  </select>
  <a class="add-prereq"><i class="fa-solid fa-plus"></i> {{localize "E20.NewPreRequisite"}}</a>
</div>



