<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/megaform.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" style="border-color: {{system.color}};" data-tab="main"> {{ localize "E20.TabMain" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="combiners">{{ localize "E20.TabCombiners" }}</a>
  </nav>

  <hr style="border-color: {{system.color}};" />

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="tab main flexcol" data-group="primary" data-tab="main">
      {{!-- Defenses --}}
      {{> "systems/essence20/templates/actor/parts/misc/npc-defenses.hbs"}}

      {{!-- Zord Common Stats --}}
      {{> "systems/essence20/templates/actor/parts/misc/zord-common.hbs"}}
    </div>

    {{!-- Combiners --}}
    <div class="tab combiners flexcol" data-group="primary" data-tab="combiners">
      {{> "systems/essence20/templates/actor/parts/misc/system-actors.hbs"}}
    </div>
  </section>
</form>
