<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/vehicle.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" style="border-color: {{system.color}};" data-tab="main"> {{ localize "E20.TabMain" }}</a>
    <a class="item" style="border-color: {{system.color}};" data-tab="notes">{{ localize "E20.TabNotes" }}</a>
  </nav>

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- Main Tab --}}
    <div class="tab main flexcol" data-group="primary" data-tab="main">
      <div class="npc-row">
        {{!--NPC Defenses--}}
        <div class="npc-defenses">
          {{> "systems/essence20/templates/actor/parts/misc/npc-defenses.hbs"}}
        </div>

        {{!--Firepoint Descriptions--}}
        <div class="npc-firepoints">
          <div class="stats-container firepoints">
            <textarea class="firepoints-input" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
             name="system.firepoints.description" placeholder="{{localize 'E20.VehicleFirepointsDescription'}}">{{system.firepoints.description}}</textarea>
          </div>
        </div>
      </div>

      {{!--Common Details--}}
      {{> "systems/essence20/templates/actor/parts/misc/common.hbs"}}

      <div class="npc-row">
        {{!-- Skills --}}
        <div class="npc-skills vehicle">
          {{> "systems/essence20/templates/actor/parts/misc/accordion-skills.hbs"}}
        </div>

        {{!-- Items --}}
        <div class="npc-items vehicle">
          {{> "systems/essence20/templates/actor/parts/items/weapon/container.hbs"}}
          {{> "systems/essence20/templates/actor/parts/items/trait/container.hbs"}}
          {{> "systems/essence20/templates/actor/parts/items/power/container.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{> "systems/essence20/templates/actor/parts/misc/notes.hbs"}}
    </div>
  </section>
</form>
