<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/description.hbs"}}
    </div>

    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{!-- Alt Mode Movement Aerial --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.AltModeMovementAerial'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.altModeMovement.aerial name="system.altModeMovement.aerial" min=0 step=5}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Alt Movement Aquatic --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.AltModeMovementAquatic'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.altModeMovement.aquatic name="system.altModeMovement.aquatic" min=0 step=5}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Alt Movement Ground --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.AltModeMovementGround'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.altModeMovement.ground name="system.altModeMovement.ground" min=0 step=5}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Alt Mode Size --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.AltModeSize'}}
      {{#*inline "item-field-inputs"}}
        <select name="system.altModesize">
          {{selectOptions config.actorSizes selected=system.altModesize}}
        </select>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Alt Mode Crew --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.AltModeCrew'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.altModeCrew name="system.altModeCrew" min=0 step=1}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Alt Mode Firepoints --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.AltModeFirepoints'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.altModeFirepoints name="system.altModeFirepoints" min=0 step=1}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    </div>
  </section>

</form>
