<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

    {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">

    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/description.hbs"}}
    </div>

    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{!-- Allegiance Points --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.ContactAllegiancePoints'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.allegiancePoints name="system.allegiancePoints" min=0 step=1}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Gaining the Contact --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.ContactGainingTheContact'}}
      {{#*inline "item-field-inputs"}}
      <textarea type="text" name="system.gainingTheContact">{{system.gainingTheContact}}</textarea>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Perks --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.ContactPerks'}}
      {{#*inline "item-field-inputs"}}
      <textarea type="text" name="system.perks">{{system.perks}}</textarea>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
    </div>

  </section>

</form>
