<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
    <a class="item" data-tab="effects">{{ localize "E20.TabEffects" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/description.hbs"}}
    </div>

    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{!-- Gear Type --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.GearType'}}
      {{#*inline "item-field-inputs"}}
      <select name="system.gearType">
        {{selectOptions @root.config.gearTypes selected=system.gearType}}
      </select>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.GearQuantity'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.quantity name="system.quantity" min=0 step=1}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
    </div>

    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{!-- Effects Section --}}
      {{> "systems/essence20/templates/item/parts/active-effects.hbs"}}
    </div>
  </section>

</form>
