<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/description.hbs"}}
    </div>

    <div class="tab details flexcol" data-group="primary" data-tab="details">

      {{!-- Magic Bauble Spellcasting --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.MagicBaubleSpellcastingShift'}}
      {{#*inline "item-field-inputs"}}
      <select name="system.spellcastingShift">
        {{selectOptions config.skillShifts selected=system.spellcastingShift}}
      </select>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

       {{!-- Duration Section --}}
       {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.MagicBaubleDuration'}}
       {{#*inline "item-field-inputs"}}
       <input type="text" name="system.duration" value="{{system.duration}}" />
       {{/inline}}
       {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

       {{!-- Range Section --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.MagicBaubleRange'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.range" value="{{system.range}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
    </div>

  </section>
</form>
