<form class="{{cssClass}}" autocomplete="off">
  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">

    {{!-- Starting Health --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.OriginStartingHealth'}}
    {{#*inline "item-field-inputs"}}
    <input type="number" class="flex-group-right" name="system.startingHealth" value="{{system.startingHealth}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Origin Essences --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.OriginEssenceScoreIncrease'}}
    {{#*inline "item-field-edit"}}
    <a class="trait-selector" style="flex-grow: 0;" data-options="originEssences" data-target="system.essences"
      title="{{localize 'E20.EssenceSelector'}}">
      <i class="fas fa-edit"></i>
    </a>
    {{/inline}}

    {{#*inline "item-field-inputs"}}
    <div class="flex-group-right chip-section">
      {{#each item.system.essences as |name|}}
      <span class="chip" name="chip.essences.{{type}}">{{localize (lookup @root.config.essences name)}}</span>
      {{/each}}
    </div>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Origin Skills --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.OriginSkill'}}
    {{#*inline "item-field-edit"}}
    <a class="trait-selector" style="flex-grow: 0;" data-options="originSkills" data-target="system.skills"
      title="{{localize 'E20.SkillSelector'}}">
      <i class="fas fa-edit"></i>
    </a>
    {{/inline}}

    {{#*inline "item-field-inputs"}}
    <div class="flex-group-right chip-section">
      {{#each item.system.skills as |name|}}
      <span class="chip" name="chip.skills.{{type}}">{{localize (lookup @root.config.originSkills name)}}</span>
      {{/each}}
    </div>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Base Aerial Movement--}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.BaseAerialMovement'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.baseAerialMovement" value="{{system.baseAerialMovement}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Base Aquatic Movement --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.BaseAquaticMovement'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.baseAquaticMovement" value="{{system.baseAquaticMovement}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Base Aquatic Movement --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.BaseGroundMovement'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.baseGroundMovement" value="{{system.baseGroundMovement}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Languages --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.OriginLanguages'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.languages" value="{{system.languages}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Origin Perk --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.OriginBenefit' originPerks=@root.originPerks}}
    {{#*inline "item-field-inputs"}}
    {{#if @root.originPerks}}
    <div class="flexcol">
      {{#each originPerks as |originPerk|}}
      <div class="flexrow originPerk" data-originPerk-id="{{originPerk._id}}">
        <ul class="items-list">
          <li class="item">
            <div class="flexrow" style="align-items: center; flex-wrap: nowrap">
              <label style="white-space: nowrap; overflow: hidden;">{{originPerk.name}}</label>
              <div class="item-controls">
                <a class="item-control originPerk-delete flex-right" title="{{localize 'E20.DeleteOriginPerk'}}">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      {{/each}}
    </div>
    {{else}}
      <label>{{localize 'E20.OriginPerkDrop'}}</label>
    {{/if}}
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!--Description--}}
    {{> "systems/essence20/templates/item/parts/description.hbs"}}
  </section>
</form>
