<form class="{{cssClass}}" autocomplete="off">
  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/description.hbs"}}
    </div>

    <div class="tab details flexcol" data-group="primary" data-tab="details">

      {{!-- Starting Health --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.OriginStartingHealth'}}
      {{#*inline "item-field-inputs"}}
      <input type="number" class="flex-group-right" name="system.startingHealth" value="{{system.startingHealth}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Origin Essences --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.OriginEssenceScoreIncrease'}}
      {{#*inline "item-field-edit"}}
      <a class="trait-selector" style="flex-grow: 0;" data-options="originEssences" data-target="system.essences"
        title="{{localize 'E20.EssenceSelector'}}">
        <i class="fas fa-edit"></i>
      </a>
      {{/inline}}

      {{#*inline "item-field-inputs"}}
      <div class="flex-group-right chip-section">
        {{#each item.system.essences as |name|}}
        <span class="chip" name="chip.essences.{{type}}">{{lookup @root.config.essences name}}</span>
        {{/each}}
      </div>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Origin Skills --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.OriginSkill'}}
      {{#*inline "item-field-edit"}}
      <a class="trait-selector" style="flex-grow: 0;" data-options="originSkills" data-target="system.skills"
        title="{{localize 'E20.SkillSelector'}}">
        <i class="fas fa-edit"></i>
      </a>
      {{/inline}}

      {{#*inline "item-field-inputs"}}
      <div class="flex-group-right chip-section">
        {{#each item.system.skills as |name|}}
        <span class="chip" name="chip.skills.{{type}}">{{lookup @root.config.originSkills name}}</span>
        {{/each}}
      </div>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Base Aerial Movement--}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.BaseAerialMovement'}}
      {{#*inline "item-field-inputs"}}
      <input type="number" name="system.baseAerialMovement" value="{{system.baseAerialMovement}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Base Aquatic Movement --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.BaseAquaticMovement'}}
      {{#*inline "item-field-inputs"}}
      <input type="number" name="system.baseAquaticMovement" value="{{system.baseAquaticMovement}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Base Aquatic Movement --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.BaseGroundMovement'}}
      {{#*inline "item-field-inputs"}}
      <input type="number" name="system.baseGroundMovement" value="{{system.baseGroundMovement}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Languages --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.OriginLanguages'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.languages" value="{{system.languages}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Origin Perk --}}
      {{> "systems/essence20/templates/item/parts/id-drop.hbs" className="originPerk" label='E20.OriginPerk' items=@root.originPerks}}
    </div>
  </section>
</form>
