<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
    <a class="item" data-tab="effects">{{ localize "E20.TabEffects" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/description.hbs"}}
    </div>

    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{!-- Perk Type --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.PerkType'}}
      {{#*inline "item-field-inputs"}}
      <select class="item-field-inputs" name="system.type">
        {{selectOptions config.perkTypes selected=system.type}}
      </select>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Selection Limit --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.SelectionLimit'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.selectionLimit name="system.selectionLimit" min=0 step=1}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Prerequisite --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.PerkPrerequisite'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.prerequisite" value="{{system.prerequisite}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Can Be Activated --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.PerkCanActivate'}}
      {{#*inline "item-field-inputs"}}
      <input type="checkbox" name="system.canActivate" {{checked system.canActivate}} />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.PerkChoiceType'}}
      {{#*inline "item-field-inputs"}}
      <select name="system.choiceType">
        {{selectOptions config.perkChoiceTypes selected=system.choiceType}}
      </select>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{#if (eq system.choiceType 'perks')}}
        {{!-- Perks Choices --}}
        {{> "systems/essence20/templates/item/parts/id-drop.hbs" className="perk" label='E20.PerkPlural' items=@root.system.items type='perk'}}
      {{/if}}

    </div>
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{!-- Effects Section --}}
      {{> "systems/essence20/templates/item/parts/active-effects.hbs"}}
    </div>
  </section>

</form>
