<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
    <a class="item" data-tab="effects">{{ localize "E20.TabEffects" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/description.hbs"}}
    </div>

    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{!-- Role Points Starting Capacity --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.RolePointsStartingCapacity'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.starting name="system.starting"}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Role Points Increase Amount --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.RolePointsIncrease'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.increase name="system.increase"}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Role Points Increase Levels --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.RolePointsIncreaseLevels'}}
      {{#*inline "item-field-edit"}}
      <a class="trait-selector" data-options="actorLevels" data-target="system.levels"
        title="{{localize 'E20.EssenceSelector'}}">
        <i class="fas fa-edit"></i>
      </a>
      {{/inline}}

      {{#*inline "item-field-inputs"}}
      <div class="flex-group-right chip-section">
        {{#each item.system.levels as |name|}}
          <span class="chip" name="chip.power.personal{{type}}">{{lookup @root.config.actorLevels name}}</span>
        {{/each}}
      </div>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.isSpendable'}}
      {{#*inline "item-field-inputs"}}
      <input type="checkbox" name="system.isSpendable" {{checked system.isSpendable}} />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}


      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.CanBeActivated'}}
      {{#*inline "item-field-inputs"}}
      <input type="checkbox" name="system.canBeActivated" {{checked system.canBeActivated}} />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.IsBonus'}}
      {{#*inline "item-field-inputs"}}
      <input type="checkbox" name="system.isBonus" {{checked system.isBonus}} />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{#if system.isBonus}}
        {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.BounsType'}}
        {{#*inline "item-field-inputs"}}
        <select class="item-field-inputs" name="system.bonusType">
          {{#select system.bonusType}}
          {{#each config.bonusType as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

        {{#ifEquals system.bonusType "defenseBonus"}}
          {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.DefenseBonus.Cleverness'}}
          {{#*inline "item-field-inputs"}}
          <input type="checkbox" name="system.defenseBonus.cleverness" {{checked system.defenseBonus.cleverness}} />
          {{/inline}}
          {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

          {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.DefenseBonus.Evasion'}}
          {{#*inline "item-field-inputs"}}
          <input type="checkbox" name="system.defenseBonus.evasion" {{checked system.defenseBonus.evasion}} />
          {{/inline}}
          {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

          {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.DefenseBonus.Toughness'}}
          {{#*inline "item-field-inputs"}}
          <input type="checkbox" name="system.defenseBonus.toughness" {{checked system.defenseBonus.toughness}} />
          {{/inline}}
          {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

          {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.DefenseBonus.Willpower'}}
          {{#*inline "item-field-inputs"}}
          <input type="checkbox" name="system.defenseBonus.willpower" {{checked system.defenseBonus.willpower}} />
          {{/inline}}
          {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
        {{/ifEquals}}

        {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.BonusSeparateAdvancement'}}
        {{#*inline "item-field-inputs"}}
        <input type="checkbox" name="system.isSeparate" {{checked system.isSeparate}} />
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

        {{#if system.isSeparate}}
          {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.RolePointsStartingCapacity'}}
          {{#*inline "item-field-inputs"}}
          {{numberInput system.bonusStarting name="system.bonusStarting"}}
          {{/inline}}
          {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

          {{!-- Role Points Increase Amount --}}
          {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.RolePointsIncrease'}}
          {{#*inline "item-field-inputs"}}
          {{numberInput system.bonusIncrease name="system.bonusIncrease"}}
          {{/inline}}
          {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

          {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.BonusAdvancementLevels'}}
          {{#*inline "item-field-edit"}}
          <a class="trait-selector" data-options="actorLevels" data-target="system.bonusLevels"
            title="{{localize 'E20.EssenceSelector'}}">
            <i class="fas fa-edit"></i>
          </a>
          {{/inline}}

          {{#*inline "item-field-inputs"}}
          <div class="flex-group-right chip-section">
            {{#each item.system.bonusLevels as |name|}}
              <span class="chip" name="chip.power.personal{{type}}">{{lookup @root.config.actorLevels name}}</span>
            {{/each}}
          </div>
          {{/inline}}
          {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
        {{/if}}
      {{/if}}
    </div>

    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{!-- Effects Section --}}
      {{> "systems/essence20/templates/item/parts/active-effects.hbs"}}
    </div>

  </section>
</form>

