<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/description.hbs"}}
    </div>

    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{!-- Spell Tier --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.SpellTier'}}
      {{#*inline "item-field-inputs"}}
      <select name="system.tier">
        {{#select system.tier}}
        {{#each config.spellTiers as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Spell Circle --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.SpellCircle'}}
      {{#*inline "item-field-inputs"}}
      <select name="system.circle">
        {{#select system.circle}}
        {{#each config.spellCircles as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Cost --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.Cost'}}
      {{#*inline "item-field-inputs"}}
      <input type="number" name="system.cost" value="{{system.cost}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Duration --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.SpellDuration'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.duration" value="{{system.duration}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Range --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.SpellRange'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.range" value="{{system.range}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
    </div>
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{!-- Effects Section --}}
      {{> "systems/essence20/templates/item/parts/active-effects.hbs"}}
    </div>
  </section>

</form>
