<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    {{!-- Availability --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponAvailability'}}
    {{#*inline "item-field-inputs"}}
    <select class="item-field-inputs" name="system.availability">
      {{#select system.availability}}
      {{#each config.availabilities as |name type|}}
      <option value="{{type}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Size --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponSize'}}
    {{#*inline "item-field-inputs"}}
    <select class="item-field-inputs" name="system.classification.size">
      {{#select system.classification.size}}
      {{#each config.weaponSizes as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Traits --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponTraits'}}
    {{#*inline "item-field-edit"}}
      <a class="trait-selector traits" data-options="weapon" data-target="system.traits" title="{{localize 'E20.TraitSelector'}}">
        <i class="fas fa-edit"></i>
      </a>
    {{/inline}}

    {{#*inline "item-field-inputs"}}
      <div class="chip-section">
        {{#each item.system.traits as |trait|}}
        <span class="chip" name="chip.weapon.traits.{{type}}">{{lookup @root.config.weaponTraits trait}}</span>
        {{/each}}
        {{#each item.system.upgradeTraits as |trait|}}
        <span class="chip" name="chip.weapon.traits.{{type}}">{{lookup @root.config.weaponTraits trait}}</span>
        {{/each}}
      </div>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Charges --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponUsesPerScene'}}
    {{#*inline "item-field-inputs"}}
    <input type="number" name="system.usesPerScene" value="{{system.usesPerScene}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Requirements --}}
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponRequirements'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.requirements.custom" value="{{system.requirements.custom}}"
      placeholder="{{ localize 'E20.WeaponRequirementsCustom' }}" />
    <select name="system.requirements.skill">
      {{#select system.requirements.skill}}
      {{#each config.skills as |name type|}}
      <option value="{{type}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
    <select name="system.requirements.shift">
      {{#select system.requirements.shift}}
      {{#each config.weaponRequirementShifts as |name type|}}
      <option value="{{type}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

    {{!-- Weapon Effects --}}
    {{> "systems/essence20/templates/item/parts/id-drop.hbs" className="weaponEffect" label='E20.ItemTypeWeaponEffectPlural' items=@root.weaponEffects}}

    {{!-- Weapon Upgrades --}}
    {{> "systems/essence20/templates/item/parts/id-drop.hbs" className="upgrade" label='E20.UpgradePlural' items=@root.upgrades}}

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/description.hbs"}}
  </section>

</form>
