<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/description.hbs"}}
    </div>

    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{!-- Availability --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponAvailability'}}
      {{#*inline "item-field-inputs"}}
      <select class="item-field-inputs" name="system.availability">
        {{selectOptions config.availabilities selected=system.availability}}
      </select>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Is Poison? --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponIsPoison'}}
      {{#*inline "item-field-inputs"}}
      <input type="checkbox" name="system.isPoison" {{checked system.isPoison}} />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{#if system.isPoison}}
        {{!-- Poison Type --}}
        {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponPoisonType'}}
        {{#*inline "item-field-inputs"}}
        <select class="item-field-inputs" name="system.poisonType">
          {{selectOptions config.poisonTypes selected=system.poisonType}}
        </select>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

        {{!-- Poison Subtype --}}
        {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponPoisonSubType'}}
        {{#*inline "item-field-inputs"}}
          <input type="checkbox" id="system.poisonSubType.contact" name="system.poisonSubType.contact" {{checked system.poisonSubType.contact}} />
          <label for="system.poisonSubType.contact">{{localize 'E20.PoisonSubTypeContact'}}</label>
          <input type="checkbox" id="system.poisonSubType.ingested" name="system.poisonSubType.ingested" {{checked system.poisonSubType.ingested}} />
          <label for="system.poisonSubType.ingested">{{localize 'E20.PoisonSubTypeIngested'}}</label>
          <input type="checkbox" id="system.poisonSubType.inhaled" name="system.poisonSubType.inhaled" {{checked system.poisonSubType.inhaled}} />
          <label for="system.poisonSubType.inhaled">{{localize 'E20.PoisonSubTypeInhaled'}}</label>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{else}}
        {{!-- Size --}}
        {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponSize'}}
        {{#*inline "item-field-inputs"}}
        <select class="item-field-inputs" name="system.classification.size">
          {{selectOptions config.weaponSizes selected=system.classification.size}}
        </select>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
      {{/if}}

      {{!-- Traits --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponTraits'}}
      {{#*inline "item-field-edit"}}
        <a class="trait-selector" data-options="weapon" data-target="system.traits" title="{{localize 'E20.TraitSelector'}}">
          <i class="fas fa-edit"></i>
        </a>
      {{/inline}}

      {{#*inline "item-field-inputs"}}
        <div class="chip-section">
          {{#each item.system.itemAndUpgradeTraits as |trait|}}
          <span class="chip" name="chip.weapon.traits.{{type}}">{{lookup @root.config.weaponTraits trait}}</span>
          {{/each}}
        </div>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Charges --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponUsesPerScene'}}
      {{#*inline "item-field-inputs"}}
      {{numberInput system.usesPerScene name="system.usesPerScene" min=0 step=1}}
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Requirements --}}
      {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.WeaponRequirements'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.requirements.custom" value="{{system.requirements.custom}}"
        placeholder="{{ localize 'E20.WeaponRequirementsCustom' }}" />
      <select name="system.requirements.skill">
        {{selectOptions config.skills selected=system.requirements.skill}}
      </select>
      <select name="system.requirements.shift">
        {{selectOptions config.weaponRequirementShifts selected=system.requirements.shift}}
      </select>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}

      {{!-- Weapon Effects --}}
      {{> "systems/essence20/templates/item/parts/id-drop.hbs" className="weaponEffect" label='E20.ItemTypeWeaponEffectPlural' items=@root.system.items type='weaponEffect'}}

      {{!-- Weapon Upgrades --}}
      {{> "systems/essence20/templates/item/parts/id-drop.hbs" className="upgrade" label='E20.UpgradePlural' items=@root.system.items type='upgrade'}}
    </div>

  </section>

</form>
