<div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>

<div class="chip-section">
  <span class="chip" name="chip.spell.cost">{{localize 'E20.SpellCost'}}: ↓{{item.system.cost}}</span>
  {{#if item.system.duration}}
  <span class="chip" name="chip.spell.duration">{{localize 'E20.SpellDuration'}}: {{item.system.duration}}</span>
  {{/if}}
  {{#if item.system.range}}
  <span class="chip" name="chip.spell.range">{{localize 'E20.SpellRange'}}: {{item.system.range}}</span>
  {{/if}}

</div>
