<div class="flexrow">
  {{#unless parentId}}
  <div></div>
  {{/unless}}
  
  <div style="flex-grow: 0; white-space: nowrap;">
    {{localize title}}
    {{#ifNotEquals hidePlusButton 'true'}}
    <a class="item-create" data-type={{dataType}} data-parent-id="{{parentId}}" title="{{ localize 'E20.ItemControlAdd' }}">
      <i class="fas fa-plus"></i>
    </a>
    {{/ifNotEquals}}
  </div>

  <span class="header-accordion-wrapper">
    {{#if items.length}}
    <a class="header-accordion-label" data-type={{dataType}} title="{{ localize 'E20.ItemControlExpand' }}">
      <i class="accordion-icon fas fa-chevron-down"></i>
    </a>
    {{/if}}
  </span>
</div>
