<div class="collapsible-item-container" style="border-color: {{system.color}};">
  {{!-- Header with + button --}}
  <div class="flex-group-center">
    {{localize title}}
    <a class="item-create" data-type={{dataType}} title="{{ localize 'E20.ItemControlAdd' }}">
      <i class="fas fa-plus"></i>
    </a>
    <span class="accordion-wrapper">
      <a class="header-accordion-label" data-type={{dataType}} title="{{ localize 'E20.ItemControlAdd' }}">
        <i class="accordion-icon fas fa-chevron-down"></i>
      </a>
    </span>
  </div>

  <ol class="items-list" style="border-color: {{system.color}};">
    {{#each items as |item|}}
    <li class="item accordion-wrapper" data-item-id="{{item._id}}">
      {{!-- Item label and buttons --}}
      <div class="flexrow item-label">
        <div class="item-image" style="flex-grow: 0;">
          <div class="flexrow" style="flex-wrap: nowrap; gap: 5px;">
            <a class="rollable" data-roll-type="info" title="{{localize 'E20.ItemRollTitle'}}"><i class="fas fa-message-lines"></i></a>
            {{#> roll-button item=item}}
            {{!-- Custom roll button here --}}
            {{/roll-button}}
          </div>
        </div>
        {{#if (isdefined item.system.equipped)}}
        <div style="flex-grow: 0;">
          <input class="inline-edit item-label-checkbox" data-field="system.equipped" type="checkbox"
            name="armor.{{@index}}.equipped" {{checked item.system.equipped}} title="{{localize 'E20.ItemToggleEquipped'}}"/>
        </div>
        {{/if}}
        <div>
          {{#> item-label item=item}}
          {{!-- Custom item label here, or use default below --}}
          {{item.name}}
          {{/item-label}}
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'E20.ItemControlEdit'}}"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="{{localize 'E20.ItemControlDelete'}}"><i
              class="fas fa-trash"></i></a>
          <a class="item-control accordion-label"><i class="accordion-icon fas fa-chevron-down"></i></a>
        </div>
      </div>

      {{!-- Item content --}}
      <div class="accordion-content">
        {{#> expand-details item=item}}
        {{!-- Custom expanded details here --}}
        {{/expand-details}}

        {{#> chips item=item}}
        {{!-- Custom chips here --}}
        {{/chips}}
        {{#if item.system.source.book}}
          {{#if item.system.source.page}}
          <span class="chip" name="chip.source.book">{{item.system.source.book}}{{concat ' PG ' item.system.source.page}}</span>
          {{else}}
          <span class="chip" name="chip.source.book">{{item.system.source.book}}</span>
          {{/if}}
        {{/if}}
      </div>
    </li>
    {{/each}}
  </ol>
</div>
