<div class="zord-combiners">
  <div class="flexrow" style="gap: 6px;">
    {{#each actors as |actor|}}
      {{#each @root.attachedActor as |fullActor|}}
        {{#ifEquals actor.uuid fullActor.uuid}}
          <div class="zord item stats-container" style="border-color: {{actor.color}};" data-zord-id="{{actor.uuid}}" data-zord-key="{{@../key}}">
            <div style="text-align: center;">
              <img class="zord-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </div>

            <div class="flexrow" style="align-items:center; gap: 6px;">
            <div style="white-space: nowrap;">{{ localize 'E20.ActorName' }}: {{actor.name}}</div>
            <div class="item-controls">
              <a class="item-control zord-delete" title="{{localize 'E20.deletezordCombiner'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>

            <div>
              <span>{{ localize 'E20.CrewRole' }}: {{actor.crew}}</span>
            </div>

    </div>
        {{/ifEquals}}
      {{/each}}
    {{/each}}
  </div>
</div>
