<div class="stats-container defense-container" style="border-color: {{system.color}};">

  <table class="tg" style="border-color: {{system.color}};">
    <thead style="border-color: {{system.color}};">
      <tr>
        <th class="tg-td" style="border-color: {{system.color}};">{{localize 'E20.DefenseTitle'}}</th>

        {{!-- Defense headers --}}
        {{#each system.defenses as |defense|}}
        <th class="tg-td" style="border-color: {{system.color}};">
          <span>{{lookup @root.config.defenses defense.name}}
            <a class="defense-edit" data-defense="{{defense.name}}" data-action="bonusEdit" data-tooltip="E20.DefenseToughnessModifications">
              <i class="fas fa-gear"></i>
            </a>
          </span>
        </th>
        {{/each}}
      </tr>
    </thead>

    {{!-- Body --}}
    <tbody>
      <tr>
        <td class="tg-td" style="border-color: {{system.color}};">{{localize 'E20.DefenseValues'}}</td>
        {{#each system.defenses as |defense|}}
        <td class="tg-td" style="border-color: {{system.color}};">
          <span
            data-tooltip="{{defense.string}}">
            {{defense.total}}
          </span>
        </td>
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>
