{{!-- Skill header and shift selector --}}
<div class="flexrow skill-header" style="background-color: {{@root.system.color}}50">
  <span class="skill-roll">
    <a
      class="rollable" data-roll-type="skill" data-skill="{{skill}}" data-essence="{{essence}}"
      data-shift-up ="{{fields.shiftUp}}" data-shift-down ="{{fields.shiftDown}}"
      data-shift="{{fields.shift}}" data-is-specialized="{{fields.isSpecialized}}" data-can-crit-d2="{{fields.canCritD2}}"
    >
      <i class="fas fa-dice-d20"></i>
    </a>
  </span>
  <span class="skill-name">{{lookup @root.config.skills skill}}</span>
</div>

<div class="skill-body">
  {{!-- Mod and Spec inputs --}}
  <div class="shift-select">
    <select name="system.skills.{{skill}}.shift">
      {{selectOptions @root.config.skillShifts selected=fields.shift}}
    </select>
    <span for="system.skills.{{skill}}.modifier">+</span>
    <input class="one-digit-input" type="number" name="system.skills.{{skill}}.modifier" value="{{fields.modifier}}" min="0" step="1" />

    {{#ifEquals @root.actor.type 'npc'}}
    <span class="specialized-label">{{localize 'E20.RollIsSpecialized'}}:</span>
    <input class="specialized-checkbox" type="checkbox" name="system.skills.{{skill}}.isSpecialized" {{checked fields.isSpecialized}} data-dtype="Boolean"/>
    {{/ifEquals}}
  </div>

  {{!-- Only PCs and NPCs get Specializations. Update this as new PC types are added. --}}
  {{#inArray '["companion", "giJoe", "playerCharacter", "powerRanger", "npc", "transformer", "pony"]' @root.actor.type}}

  {{!-- Specializations header --}}
  <div class="specializations-header">
    <span>{{localize 'E20.ItemTypeSpecializationPlural'}}</span>
    <a class="item-create" data-type="specialization" data-skill="{{skill}}" data-shift="{{fields.shift}}" title="{{ localize 'E20.ItemControlAdd' }}">
      <i class="fas fa-plus"></i>
    </a>
  </div>

  {{!-- Specializations list --}}
  <ol class="items-list"></ol>
    {{#each (lookup @root.specializations skill) as |specialization i|}}
    <li class="item specializations-list" data-item-id="{{specialization._id}}">
      <div class="flexrow specializations-item">
        <span class="item-button-container">
          {{#ifEquals @root.actor.type 'npc'}}
          {{!-- NPCs can have unspecialized specializations, but PCs are always specialized --}}
          <a
            class="rollable" data-roll-type="skill" data-skill="{{../skill}}" data-essence="{{../essence}}"
            data-shift-up ="{{../fields.shiftUp}}" data-shift-down ="{{../fields.shiftDown}}"
            data-shift="{{specialization.system.shift}}" data-specialization-name="{{specialization.name}}"
            data-is-specialized="{{specialization.system.isSpecialized}}"
          >
          {{else}}
          <a
            class="rollable" data-roll-type="skill" data-skill="{{../skill}}" data-essence="{{../essence}}"
            data-shift-up ="{{../fields.shiftDown}}" data-shift-down ="{{../fields.shiftDown}}"
            data-shift="{{../fields.shift}}" data-specialization-name="{{specialization.name}}" data-is-specialized="true"
          >
          {{/ifEquals}}
            <i class="fas fa-dice-d20"></i>
          </a>
        </span>
        <input class="inline-edit" data-field="name" type="text" name="{{../skill}}.{{specialization.name}}" value="{{specialization.name}}" />
        {{#ifEquals @root.actor.type 'npc'}}
        <select class="inline-edit" style="flex-grow: 0;" data-field="system.shift" name="system.shift">
          {{selectOptions @root.config.skillShifts selected=specialization.system.shift}}
        </select>
        <span class="specialized-label" style="flex-grow: 0;">{{localize 'E20.RollIsSpecialized'}}:</span>
        <input class="inline-edit specialized-checkbox" type="checkbox" data-field="system.isSpecialized" name="specialization.system.isSpecialized" {{checked specialization.system.isSpecialized}} data-dtype="Boolean"/>
        {{/ifEquals}}
        <span class="item-button-container">
          <a class="item-control item-delete" title="{{localize 'E20.ItemControlDelete'}}"><i class="fas fa-trash"></i></a>
        </span>
      </div>
    </li>
    {{/each}}
  </ol>

  {{/inArray}}
</div>
