<div class="stats-container flexrow flex-group-center" style="border-color: {{system.color}};">
  <div class="flexcol flex-group-center">
    <div class="flexrow" style="gap: 5px;">
      <a class="rest" style="flex-grow: 0;" title="{{localize "E20.RestButtonTitle"}}"><i class="fas fa-face-sleeping"></i></a>
      <label>{{localize 'E20.ActorHealth'}}</label>
    </div>
    <div class="flexrow" style="align-items: center;">
      <input class="centered-input" type="number" name="system.health.value" value="{{system.health.value}}" />
      <span>/</span>
      {{#if @root.system.movementIsReadOnly}}
        <input class="centered-input" type="number" name="system.health.max" value="{{system.health.max}}" title="{{system.health.string}}" readonly/>
      {{else}}
        <input class="centered-input" type="number" name="system.health.max" value="{{system.health.max}}"/>
      {{/if}}
    </div>
  </div>
</div>
