<div class="skillscontainer">
  {{!-- Strength --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header strength">
      {{#if system.ponyEssence.strength}}
        <span class="essence-label {{system.ponyEssence.strength}}">{{localize config.essences.strength}}</span>
      {{else}}
        <span class="essence-label">{{localize config.essences.strength}}</span>
      {{/if}}
      <input class="two-digit-input" type="number" name="system.essences.strength" value="{{system.essences.strength}}" />
    </div>
    <div class="essence-header">
      <span>{{localize 'E20.ActorConditioning'}}</span>
      <input class="one-digit-input" type="number" name="system.conditioning" value="{{system.conditioning}}" />
    </div>
    {{#each @root.config.skillsByEssence.strength as |skill|}}
      {{> "systems/essence20/templates/actor/parts/misc/essence-skills.hbs" essence='strength' skill=skill fields=(lookup @root.system.skills skill)}}
    {{/each}}
  </div>

  {{!-- Speed --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header">
      {{#if system.ponyEssence.speed}}
        <span class="essence-label {{system.ponyEssence.speed}}">{{localize config.essences.speed}}</span>
      {{else}}
        <span class="essence-label">{{localize config.essences.speed}}</span>
      {{/if}}
      <input class="two-digit-input" type="number" name="system.essences.speed" value="{{system.essences.speed}}" />
    </div>
    <div class="essence-header">
      <span>Actions: {{numActions.movement}}M, {{numActions.standard}}S, {{numActions.free}}F</span>
    </div>
    {{#each @root.config.skillsByEssence.speed as |skill|}}
      {{> "systems/essence20/templates/actor/parts/misc/essence-skills.hbs" essence='speed' skill=skill fields=(lookup @root.system.skills skill)}}
    {{/each}}
  </div>

  {{!-- Smarts --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header">
      {{#if system.ponyEssence.smarts}}
        <span class="essence-label {{system.ponyEssence.smarts}}">{{localize config.essences.smarts}}</span>
      {{else}}
        <span class="essence-label">{{localize config.essences.smarts}}</span>
      {{/if}}
      <input class="two-digit-input" type="number" name="system.essences.smarts" value="{{system.essences.smarts}}" />
    </div>
   {{#each @root.config.skillsByEssence.smarts as |skill|}}
      {{> "systems/essence20/templates/actor/parts/misc/essence-skills.hbs" essence='smarts' skill=skill fields=(lookup @root.system.skills skill)}}
    {{/each}}
  </div>

  {{!-- Social --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header">
      {{#if system.ponyEssence.social}}
        <span class="essence-label {{system.ponyEssence.social}}">{{localize config.essences.social}}</span>
      {{else}}
        <span class="essence-label">{{localize config.essences.social}}</span>
      {{/if}}
      <input class="two-digit-input" type="number" name="system.essences.social" value="{{system.essences.social}}" />
    </div>
    {{#each @root.config.skillsByEssence.social as |skill|}}
      {{> "systems/essence20/templates/actor/parts/misc/essence-skills.hbs" essence='social' skill=skill fields=(lookup @root.system.skills skill)}}
    {{/each}}
  </div>
</div>
