<div class="skillscontainer">
  {{!-- Strength --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header strength">
      <span class="essence-label {{system.essenceRanks.strength}}">{{localize config.essences.strength}}</span>
      <input class="two-digit-input" type="number" name="system.essences.strength.value" value="{{system.essences.strength.value}}" min="0" step="1" />
      /
      <input class="two-digit-input" type="number" name="system.essences.strength.max" value="{{system.essences.strength.max}}" min="0" step="1" />
    </div>
    <div class="essence-header">
      <span>{{localize 'E20.ActorConditioning'}}</span>
      <input class="one-digit-input" type="number" name="system.conditioning" value="{{system.conditioning}}" min="0" step="1" />
    </div>
    {{#each @root.config.skillsByEssence.strength as |skill|}}
      {{> "systems/essence20/templates/actor/parts/misc/essence-skills.hbs" essence='strength' skill=skill fields=(lookup @root.system.skills skill)}}
    {{/each}}
  </div>

  {{!-- Speed --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header">
      <span class="essence-label {{system.essenceRanks.speed}}">{{localize config.essences.speed}}</span>
      <input class="two-digit-input" type="number" name="system.essences.speed.value" value="{{system.essences.speed.value}}" min="0" step="1" />
      /
      <input class="two-digit-input" type="number" name="system.essences.speed.max" value="{{system.essences.speed.max}}" min="0" step="1" />
    </div>
    <div class="essence-header">
      <span>Actions: {{numActions.movement}}M, {{numActions.standard}}S, {{numActions.free}}F</span>
    </div>
    {{#each @root.config.skillsByEssence.speed as |skill|}}
      {{> "systems/essence20/templates/actor/parts/misc/essence-skills.hbs" essence='speed' skill=skill fields=(lookup @root.system.skills skill)}}
    {{/each}}
  </div>

  {{!-- Smarts --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header">
      <span class="essence-label {{system.essenceRanks.smarts}}">{{localize config.essences.smarts}}</span>
      <input class="two-digit-input" type="number" name="system.essences.smarts.value" value="{{system.essences.smarts.value}}" min="0" step="1" />
      /
      <input class="two-digit-input" type="number" name="system.essences.smarts.max" value="{{system.essences.smarts.max}}" min="0" step="1" />
    </div>
   {{#each @root.config.skillsByEssence.smarts as |skill|}}
      {{> "systems/essence20/templates/actor/parts/misc/essence-skills.hbs" essence='smarts' skill=skill fields=(lookup @root.system.skills skill)}}
    {{/each}}
  </div>

  {{!-- Social --}}
  <div class="skills-container" style="border-color: {{system.color}};">
    <div class="essence-header">
      <span class="essence-label {{system.essenceRanks.social}}">{{localize config.essences.social}}</span>
      <input class="two-digit-input" type="number" name="system.essences.social.value" value="{{system.essences.social.value}}" min="0" step="1" />
      /
      <input class="two-digit-input" type="number" name="system.essences.social.max" value="{{system.essences.social.max}}" min="0" step="1" />
    </div>
    {{#each @root.config.skillsByEssence.social as |skill|}}
      {{> "systems/essence20/templates/actor/parts/misc/essence-skills.hbs" essence='social' skill=skill fields=(lookup @root.system.skills skill)}}
    {{/each}}
  </div>
</div>
