<div>
  <span>{{localize 'E20.SkillRanksAllocated'}}: </span>
  {{#ifEquals skillRankAllocation essenceMax}}
  <span>{{skillRankAllocation}}/{{essenceMax}}</span>
  {{else}}
  <span style="color: orange;">{{skillRankAllocation}}/{{essenceMax}}</span>
  {{/ifEquals}}
</div>
