<div class="stats-container flexrow defense-container" style="border-color: {{system.color}};">
  <table class="tg">
    <thead>
      <tr>
        <th></th>
        <th class="tg-td">
          {{#if @root.actor.system.canTransform}}
            {{ localize "E20.UpgradeTypeArmor" }} {{ localize "E20.UpgradePlural" }}
          {{else}}
            {{ localize "E20.ItemTypeArmorPlural" }}
          {{/if}}
        </th>
        {{#ifNotEquals @root.role.system.version 'powerRangers'}}
        <th class="tg-td">
          {{ localize "E20.ItemTypeWeaponPlural" }}
        </th>
        {{/ifNotEquals}}
        {{#if @root.actor.system.poisonTraining}}
          <th class="tg-td">
            {{ localize "E20.ItemTypePoisonPlural" }}
          </th>
          {{#ifCond @root.actor.system.poisonTraining '>' 4}}
            <th class="tg-td">
              {{ localize "E20.ItemTypeToxinPlural" }}
            </th>
          {{/ifCond}}
        {{/if}}
      </tr>
    </thead>

    <tbody>
      <tr>
        <th class="tg-td">{{ localize "E20.Training" }}</th>
        <td class="tg-td">
          {{#if @root.actor.system.canTransform}}
            {{formatBooleanList system.trained.upgrades.armors @root.config.availabilities 'unit'}}
          {{else}}
            {{formatBooleanList @root.system.trained.armors @root.config.armorTypes 'unit'}}
          {{/if}}
        </td>
        {{#ifNotEquals @root.role.system.version 'powerRangers'}}
        <td class="tg-td">
          {{formatBooleanList @root.system.trained.weapons @root.config.weaponTypes 'unit'}}
        </td>
        {{/ifNotEquals}}
        {{#if @root.actor.system.poisonTraining}}
          <td class="tg-td">
            {{#if @root.actor.system.trained.poisons.all}}
              {{localize "E20.PoisonTrainingAll"}}
            {{else}}
              {{formatBooleanList @root.system.trained.poisons @root.config.poisonTraining 'unit'}}
            {{/if}}
          </td>
          {{#ifCond @root.actor.system.poisonTraining '>' 4}}
            <td>
              All
            </td>
          {{/ifCond}}
        {{/if}}
      </tr>
      {{#if @root.actor.system.canQualify}}
      <tr>
        <th class="tg-td">{{ localize "E20.Qualifications" }}</th>
        <td class="tg-td">
          {{formatBooleanList @root.system.qualified.armors @root.config.armorTypes 'unit'}}
        </td>
        <td class="tg-td">
          {{formatBooleanList @root.system.qualified.weapons @root.config.weaponTypes 'unit'}}
        </td>
        {{#if @root.actor.system.poisonTraining}}
          <td>
            {{#if @root.actor.system.qualified.poisons.all}}
              {{localize "E20.PoisonTrainingAll"}}
            {{else}}
              {{formatBooleanList @root.system.qualified.poisons @root.config.poisonTraining 'unit'}}
            {{/if}}
          </td>
        {{/if}}
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>
