<div class="stats-container flexrow flex-group-center" style="border-color: {{system.color}};">
  <div class="flexrow flex-group-center">
    <table>
      <tr>
        <th></th>
        <th>
          {{#if @root.actor.system.canTransform}}
            {{ localize "E20.UpgradeTypeArmor" }} {{ localize "E20.UpgradePlural" }}
          {{else}}
            {{ localize "E20.ItemTypeArmorPlural" }}
          {{/if}}
        </th>
        <th>
          {{ localize "E20.ItemTypeWeaponPlural" }}
        </th>
      </tr>
      <tr>
        <th>{{ localize "E20.Training" }}</th>
        <td>
          {{#if @root.actor.system.canTransform}}
            {{listProficiencies system.trained.upgrades.armors @root.config.availabilities}}
          {{else}}
            {{listProficiencies @root.system.trained.armors @root.config.armorTypes}}
          {{/if}}
        </td>
        <td>
          {{listProficiencies @root.system.trained.weapons @root.config.weaponTypes}}
        </td>
      </tr>
      {{#if @root.actor.system.canQualify}}
      <tr>
        <th>{{ localize "E20.Qualifications" }}</th>
        <td>
          {{listProficiencies @root.system.qualified.armors @root.config.armorTypes}}
        </td>
        <td>
          {{listProficiencies @root.system.qualified.weapons @root.config.weaponTypes}}
        </td>
      </tr>
      {{/if}}
    </table>
  </div>
</div>
