<div class="flexrow">
  <div class="resource flexcol">
    <label class="resource flex-group-center">{{localize 'E20.VehicleCrew'}}</label>
    <input type="text" class="centered-input" name="system.crew.description" value="{{system.crew.description}}" />
  </div>
  <div class="resource flexcol">
    <label class="resource flex-group-center">
      {{localize 'E20.VehicleFirepoints'}}
    </label>
    <input type="number" class="centered-input" name="system.firepoints.value" value="{{system.firepoints.value}}" min="0" step="1" />
  </div>
  <div class="resource flexcol">
    <label class="resource flex-group-center">
      {{localize 'E20.VehicleDrivers'}}
    </label>
    <input type="number" class="centered-input num-crew" name="system.crew.numDrivers" value="{{system.crew.numDrivers}}" min="0" step="1" />
  </div>
  <div class="resource flexcol">
    <label class="resource flex-group-center">
      {{localize 'E20.VehiclePassengers'}}
    </label>
    <input type="number" class="centered-input num-crew" name="system.crew.numPassengers"
      value="{{system.crew.numPassengers}}" min="0" step="1" />
  </div>
</div>
