<div class="flexrow stats-row">
  <div class="stats-container" style="border-color: {{system.color}}; flex-grow: 0.25;">
    {{!-- Initiative --}}
    {{> "systems/essence20/templates/actor/parts/misc/initiative.hbs"}}
  </div>

  {{!-- Movement --}}
  {{> "systems/essence20/templates/actor/parts/misc/movement.hbs"}}

  {{!-- Strength/Speed --}}
  <div class="stats-container" style="min-width: fit-content; text-align: center; border-color: {{system.color}};">
    <div class="flexrow flex-group-center">
      <span class="essence-label">{{config.essences.strength}}</span>
      <input class="two-digit-input" type="number" name="system.essences.strength.value" value="{{system.essences.strength.value}}" />
    </div>
    <div class="flexrow flex-group-center">
      <span class="essence-label">{{config.essences.speed}}</span>
      <input class="two-digit-input" type="number" name="system.essences.speed.value" value="{{system.essences.speed.value}}" />
    </div>
  </div>
</div>

<div class="npc-row">
  <div class="npc-skills zord">
    {{!-- Skills --}}
    {{> "systems/essence20/templates/actor/parts/misc/accordion-skills.hbs"}}
  </div>

  <div class="npc-items zord">
    {{!-- Weapons --}}
    {{> "systems/essence20/templates/actor/parts/items/weapon/container.hbs"}}
    {{!-- Features --}}
    {{> "systems/essence20/templates/actor/parts/items/feature/container.hbs"}}
    {{!-- Megaform Traits --}}
    {{#ifEquals @root.actor.type 'zord'}}
    {{> "systems/essence20/templates/actor/parts/items/megaformTrait/container.hbs"}}
    {{/ifEquals}}
  </div>
</div>
