<div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>
<div>{{localize 'E20.OriginStartingHealth'}}: {{item.system.startingHealth}}</div>
<div>{{localize 'E20.OriginEssenceAbilityScoreIncreaseOptions'}}: {{item.system.essenceAbilityScoreIncreaseOptions}}</div>
<div>{{localize 'E20.OriginEssenceScoreIncreaseOptions'}}: {{item.system.essenceScoreIncreaseOptions}}</div>
<div>{{localize 'E20.OriginBonusSkillLevels'}}: {{item.system.bonusSkillLevels}}</div>
<div>{{localize 'E20.OriginGroundMovement'}}: {{item.system.groundMovement}}</div>
<div>{{localize 'E20.OriginLanguages'}}: {{item.system.languages}}</div>
<div>{{localize 'E20.OriginBenefitName'}}: {{item.system.benefit.name}}</div>
<div>{{localize 'E20.OriginBenefitDescription'}}: {{item.system.benefit.description}}</div>
