<div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>

<div>{{localize 'E20.OriginStartingHealth'}}: {{item.system.startingHealth}}</div>
<div>{{localize 'E20.OriginEssenceScoreIncrease'}}: {{item.essenceString}}</div>
<div>{{localize 'E20.OriginSkill'}}: {{item.skillsString}}</div>
<div>{{localize 'E20.BaseGroundMovement'}}: {{item.system.baseGroundMovement}}</div>
<div>{{localize 'E20.OriginLanguages'}}: {{item.system.languages}}</div>


