{{#if gmPointsArePublic}}
  <div class="sliced-border --col">
    <span class="sliced-border__label">{{localize "E20.SptPointsGm"}}</span>
    {{#if isGm}}
      <button id="gm-points-btn-dec" class="story-points__btn --decrement">
        <i class="fas fa-angle-double-down"></i>
      </button>
      <input
        id="gm-points-input"
        class="story-points__input"
        type="number"
        value="{{gmPoints}}"
      />
      <button id="gm-points-btn-inc" class="story-points__btn --increment">
        <i class="fas fa-angle-double-up"></i>
      </button>
    {{else}}
      <input
        id="gm-points-input"
        class="story-points__input"
        type="number"
        value="{{gmPoints}}"
        disabled
      />
    {{/if}}
  </div>
{{/if}}

<div class="story-points-content">
  <span class="sliced-border__label">{{pointsName}}</span>
  {{#if isGm}}
    <button id="story-points-btn-dec" class="story-points__btn --decrement">
      <i class="fas fa-angle-double-down"></i>
    </button>
    <input
      id="story-points-input"
      class="story-points__input"
      type="number"
      value="{{storyPoints}}"
    />
    <button id="story-points-btn-inc" class="story-points__btn --increment">
      <i class="fas fa-angle-double-up"></i>
    </button>
  {{else}}
    <input
      id="story-points-input"
      type="number"
      class="story-points__input"
      value="{{storyPoints}}"
      disabled
    />
  {{/if}}
</div>

{{#if isGm}}
  <button id="major-scene-points-button" class="story-points__btn --increment">
    <span>{{localize "E20.SptRollButton"}}</span>
  </button>
{{/if}}