{{#if gmPointsArePublic}}
<div class="story-points-content">
  <div class="story-points-label">{{localize 'E20.SptPointsGm'}}</div>
  {{#if isGm}}
  <div id="gm-points-btn-dec" class="story-points-btn bad-ones">
    <i class="fas fa-angle-double-down"></i>
  </div>
  <input id="gm-points-input" type="number" value="{{gmPoints}}" />
  <div id="gm-points-btn-inc" class="story-points-btn good-ones">
    <i class="fas fa-angle-double-up"></i>
  </div>
  {{else}}
  <input id="gm-points-input" type="number" value="{{gmPoints}}" disabled />
  {{/if}}
</div>
{{/if}}

<div class="story-points-content">
  <div class="story-points-label">{{localize 'E20.SptPointsStory'}}</div>
  {{#if isGm}}
  <div id="story-points-btn-dec" class="story-points-btn bad-ones">
    <i class="fas fa-angle-double-down"></i>
  </div>
  <input id="story-points-input" type="number" value="{{storyPoints}}" />
  <div id="story-points-btn-inc" class="story-points-btn good-ones">
    <i class="fas fa-angle-double-up"></i>
  </div>
  {{else}}
  <input id="story-points-input" type="number" value="{{storyPoints}}" disabled />
  {{/if}}
</div>

{{#if isGm}}
<div style="text-align: center; margin-top: 10px;">
  <a id="major-scene-points-button">{{localize 'E20.SptRollButton'}}</a>
</div>
{{/if}}
