<div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>

<div class="chip-section">
  <span class="chip" name="chip.magicBauble.spellcastingShift">{{localize 'E20.MagicBaubleSpellcastingShift'}}: {{lookup @root.config.skillShifts item.system.spellcastingShift}}</span>
  {{#if item.system.duration}}
  <span class="chip" name="chip.magicBauble.duration">{{localize 'E20.MagicBaubleDuration'}}: {{item.system.duration}}</span>
  {{/if}}
  {{#if item.system.range}}
  <span class="chip" name="chip.magicBauble.range">{{localize 'E20.MagicBaubleRange'}}: {{item.system.range}}</span>
  {{/if}}
</div>
