<div class="collapsible-item-container" style="border-color: {{system.color}};">
  <div class="flexrow" style="justify-content: center; margin-bottom: 5px;">
    <div style="flex-grow: 0; white-space: nowrap;">
      {{localize "E20.RoleFeatures"}}
    </div>
  </div>

  {{#if @root.rolePoints}}
    {{#with @root.rolePoints as |rolePoints|}}
      <div class="item flexrow" style="align-items: center;" data-item-id="{{@root.rolePoints._id}}">
        {{!-- Label --}}
        <a class="rollable" style="flex-grow: 0;" data-roll-type="info" data-tooltip="{{localize 'E20.RolePoints'}}">
          <i class="fas fa-message-lines"></i>
        </a>

        {{#ifNotEquals rolePoints.system.resource.max null}}
        <a class="rollable" style="flex-grow: 0;" data-roll-type="rolePoints" data-tooltip="{{localize 'E20.RolePointsRoll'}}"><i
          class="fas fa-hand-fist"></i></a>
        {{/ifNotEquals}}

        {{#if rolePoints.system.isActivatable}}
          <input class="inline-edit item-label-checkbox" type="checkbox" data-field="system.isActive" name="rolePoints.system.isActive"
            data-tooltip="{{localize 'E20.RolePointsToggleActivation'}}" {{checked rolePoints.system.isActive}} />
        {{/if}}

        <label>{{rolePoints.name}}</label>

        {{!-- Bonus --}}
        <div>
          {{#ifNotEquals rolePoints.system.bonus.type 'none'}}
            {{#ifNotEquals rolePoints.system.bonus.type 'other'}}+{{/ifNotEquals}}{{rolePoints.system.bonus.value}}
          {{/ifNotEquals}}

          {{#ifEquals rolePoints.system.bonus.type 'attackUpshift'}}
          <i class="fas fa-arrow-up"></i>
          {{else ifEquals rolePoints.system.bonus.type 'damageBonus'}}
          <i class="fas fa-sword"></i>
          {{else ifEquals rolePoints.system.bonus.type 'enemyDownshift'}}
          <i class="fas fa-arrow-down"></i>
          {{else ifEquals rolePoints.system.bonus.type 'healthBonus'}}
          <i class="fas fa-heart"></i>
          {{else ifEquals rolePoints.system.bonus.type 'defenseBonus'}}
            <i class="fas fa-shield"></i>
            {{rolePoints.system.bonus.defenseBonus.string}}
          {{/ifEquals}}
        </div>

        {{!-- Resource --}}
        {{#if @root.system.useUnlimitedResource}}
          <div>{{localize 'E20.RolePointsResourceUnlimited'}}</div>
        {{else ifNotEquals rolePoints.system.resource.max null}}
          <input class="inline-edit centered-input no-lock" data-field="system.resource.value" type="number"
            name="system.resource.value" value="{{system.resource.value}}" min="0"
            step="1" />
          /
          <input class="centered-input no-unlock" data-field="rolePoints.system.resource.max" type="number"
            name="rolePoints.system.resource.max" value="{{rolePoints.system.resource.max}}" min="0"
            step="1" readonly />
        {{/if}}
      </div>
    {{/with}}
  {{else if @root.role.system.skillDie.isUsed}}
    {{#with @root.system.skills.roleSkillDie as |roleSkillDie|}}
      <div class="item flexrow" style="align-items: center;" data-item-id="{{@root.role._id}}">
        <div class="item-image" style="flex-grow: 0;">
          <a class="rollable" data-roll-type="skill" data-skill="roleSkillDie" data-role-skill-name="{{roleSkillDie.displayName}}"
            data-is-specialized="{{roleSkillDie.isSpecialized}}"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div>{{@root.role.system.skillDie.name}}: {{roleSkillDie.shift}}{{#if roleSkillDie.isSpecialized}}*{{/if}}</div>
      </div>
    {{/with}}
  {{/if}}

  {{#unless @root.rolePoints}}
  {{#unless @root.role.system.skillDie.isUsed}}
    <div class="flexrow flex-group-center">{{localize 'E20.RolePointsNone'}}</div>
  {{/unless}}
  {{/unless}}
</div>
