<div>{{localize 'E20.AltModeMovementAerial'}}: {{item.system.altModeMovement.aerial}}</div>
<div>{{localize 'E20.AltModeMovementAquatic'}}: {{item.system.altModeMovement.aquatic}}</div>
<div>{{localize 'E20.AltModeMovementGround'}}: {{item.system.altModeMovement.ground}}</div>
<div>{{localize 'E20.AltModeSize'}}: {{item.system.altModesize}}</div>
<div>{{localize 'E20.AltModeCrew'}}: {{item.system.altModeCrew}}</div>
<div>{{localize 'E20.AltModeFirepoints'}}: {{item.system.altModeFirepoints}}</div>
