<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <label>{{localize 'E20.effectArea'}}</label>
      <input type="number" name="system.effectArea" value="{{system.effectArea}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.effectShape'}}</label>
      <select name="system.effectShape">
        {{#select system.effectShape}}
        {{#each config.effectShapes as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.lightRange.bright'}}</label>
      <input type="number" name="system.lightRange.bright" value="{{system.lightRange.bright}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.lightRange.dim'}}</label>
      <input type="number" name="system.lightRange.dim" value="{{system.lightRange.dim}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.quantity'}}</label>
      <input type="number" name="system.quantity" value="{{system.quantity}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.toughness'}}</label>
      <input type="number" name="system.toughness" value="{{system.toughness}}" />
    </div>

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
