<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body armor">
    <div class="flexrow">
      <label>{{localize 'E20.availability'}}</label>
      <select name="system.availability">
        {{#select system.availability}}
        {{#each config.availabilities as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.benefit'}}</label>
      <input type="text" name="system.benefit" value="{{system.benefit}}" placeholder="{{ localize 'E20.benefit' }}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.prerequisite'}}</label>
      <input type="text" name="system.prerequisite" value="{{system.prerequisite}}"
        placeholder="{{ localize 'E20.prerequisite' }}" />
    </div>

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
