<form class="{{cssClass}}" autocomplete="off">
  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "E20.TabDescription" }}</a>
    <a class="item" data-tab="details">{{ localize "E20.TabDetails" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    {{!-- Description Tab --}}
    <div class="tab description flexcol" data-group="primary" data-tab="description">
      {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
    </div>
    {{!-- Details Tab --}}
    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{!-- Starting Health --}}
      <div>
        {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginStartingHealth'}}
        {{#*inline "item-field-inputs"}}
        <input type="text" name="system.role" value="{{system.startingHealth}}" />
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}
      </div>
      <div>
        {{!-- Origin Essences --}}
        {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginEssences'}}
        {{#*inline "item-field-edit"}}
          <a class="trait-selector" style="flex-grow: 0;" data-options="essence" data-target="system.origin.essence" title="{{localize 'E20.TraitSelector'}}">
            <i class="fas fa-edit"></i>
          </a>
        {{/inline}}

        {{#*inline "item-field-inputs"}}
          <div class="chip-section">
            {{#each item.system.origin.essence as |name|}}
            <span class="chip" name="chip.origin.essence.{{type}}">{{localize (lookup @root.config.essences name)}}</span>
            {{/each}}
          </div>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}
      </div>
      
      <div>
        {{!-- Origin Skills --}}
        {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginSkills'}}
        {{#*inline "item-field-edit"}}
          <a class="trait-selector" style="flex-grow: 0;" data-options="skill" data-target="system.origin.skills" title="{{localize 'E20.TraitSelector'}}">
            <i class="fas fa-edit"></i>
          </a>
        {{/inline}}

        {{#*inline "item-field-inputs"}}
          <div class="chip-section">
            {{#each item.system.origin.skills as |name|}}
            <span class="chip" name="chip.origin.skills.{{type}}">{{localize (lookup @root.config.essenceSkills name)}}</span>
            {{/each}}
          </div>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}
      </div>
      {{!-- Base Aerial Movement--}}
      {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginBaseAerialMovement'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.origin.baseAerialMovement" value="{{system.origin.baseAerialMovement}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

      {{!-- Base Aquatic Movement --}}
      {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.BaseAquaticMovement'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.origin.baseAquaticMovement" value="{{system.origin.baseAquaticMovement}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

            {{!-- Base Aquatic Movement --}}
      {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginBaseGroundMovement'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.origin.baseGroundMovement" value="{{system.origin.baseGroundMovement}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}
      
      {{!-- Languages --}}
      {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginLanguages'}}
      {{#*inline "item-field-inputs"}}
      <textarea rows="5" name="system.languages">{{system.languages}}</textarea>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

      {{!-- Benefit Name --}}
      {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginBenefitName'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.benefit.name" value="{{system.benefit.name}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

      {{!-- Benefit Description --}}
      {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginBenefitDescription'}}
      {{#*inline "item-field-inputs"}}
      <textarea rows="5" name="system.benefit.description">{{system.benefit.description}}</textarea>
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}
    </div>
  </section>
</form>
