<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body">
    <input type="text" name="data.bond" value="{{data.bond}}" placeholder="{{ localize 'E20.bond' }}"/>
    <input type="text" name="data.perk" value="{{data.perk}}" placeholder="{{ localize 'E20.perk' }}"/>
    <input type="text" name="data.hangUp" value="{{data.hangUp}}" placeholder="{{ localize 'E20.hangUp' }}"/>

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
