<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    {{!-- Prerequisite --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.PerkPrerequisite'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.prerequisite" value="{{system.prerequisite}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Game System --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.GameSystem'}}
    {{#*inline "item-field-inputs"}}
      <div class="flexcol">
      {{#each config.gameSystem as |name type|}}
        <div class="flexrow">
          <input class="inline-edit item-label-checkbox" type="checkbox" name="system.gameSystem.{{type}}" {{checked (lookup @root.system.gameSystem type)}}/>
          <span>{{localize name}}</span>
        </div>
      {{/each}}
      </div>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Perk Type --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.PerkType'}}
    {{#*inline "item-field-inputs"}}
    <select class="item-field-inputs" name="system.perkType">
      {{#select system.perkType}}
      {{#each config.perkType as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
