<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    {{!-- Availability --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.ArmorAvailability'}}
    {{#*inline "item-field-inputs"}}
    <select name="system.availability">
      {{#select system.availability}}
      {{#each config.availabilities as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Classification --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.ArmorClassification'}}
    {{#*inline "item-field-inputs"}}
    <select name="system.classification">
      {{#select system.classification}}
      {{#each config.armorClassifications as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Trait --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.ArmorTrait'}}
    {{#*inline "item-field-inputs"}}
      {{#each config.armorTraits as |name type|}}
        {{#ifEquals "armor.traits.{{type}}" true}}
          <input class="inline-edit item-label-checkbox" type="checkbox" name="armor.traits.{{type}}" checked/>{{localize name}}
        {{else}}
          <input class="inline-edit item-label-checkbox" type="checkbox" name="armor.traits.{{type}}"/>{{localize name}}
        {{/ifEquals}}
      {{/each}}
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Toughness --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.ArmorToughness'}}
    {{#*inline "item-field-inputs"}}
    <input type="number" name="system.armorToughness" value="{{system.armorToughness}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Evasion --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.ArmorEvasion'}}
    {{#*inline "item-field-inputs"}}
    <input type="number" name="system.armorEvasion" value="{{system.armorEvasion}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>
</form>
