<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="flexrow">
      <label>{{localize 'E20.ThreatPowerCharges'}}</label>
      <input type="number" name="system.charges" value="{{system.charges}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.ThreatPowerCost'}}</label>
      <input type="number" name="system.cost" value="{{system.cost}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.ThreatPowerLimited'}}</label>
      <input type="checkbox" name="system.limited" {{checked system.limited}} />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.ThreatPowerActionType'}}</label>
      <input type="text" name="system.actionType" value="{{system.actionType}}" />
    </div>

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
