<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    {{!-- Essence Increase Options --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginEssenceIncreaseOptions'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.essenceIncreaseOptions" value="{{system.essenceIncreaseOptions}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Starting Health --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginStartingHealth'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.startingHealth" value="{{system.startingHealth}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Bonus Skill Levels --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginBonusSkillLevels'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.bonusSkillLevels" value="{{system.bonusSkillLevels}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Ground Movement --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginGroundMovement'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.groundMovement" value="{{system.groundMovement}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Languages --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginLanguages'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.languages" value="{{system.languages}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Benefit Name --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginBenefitName'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.benefit.name" value="{{system.benefit.name}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Benefit Description --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.OriginBenefitDescription'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.benefit.description" value="{{system.benefit.description}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

     {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>
</form>
