<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body armor">
    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'E20.source' }}"/>
    <input type="text" name="system.prerequisite" value="{{system.prerequisite}}" placeholder="{{ localize 'E20.prerequisite' }}"/>

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
