<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body">
    <div>
      <select name="data.availability">
        {{#select data.availability}}
        {{#each config.availabilities as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>

      <select name="data.classification.skill">
        {{#select data.classification.skill}}
        {{#each config.weaponSkills as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>

      <select name="data.classification.size">
        {{#select data.classification.size}}
        {{#each config.weaponSizes as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>

      <select name="data.classification.style">
        {{#select data.classification.style}}
        {{#each config.weaponStyles as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>

      <select name="data.shift">
        {{#select data.shift}}
        {{#each config.shifts as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <span>{{localize 'E20.numCharges'}}</span><input type="number" name="data.numCharges" value="{{data.numCharges}}"/>
    <input type="text" name="data.custom" value="{{data.custom}}" placeholder="{{ localize 'E20.custom' }}"/>

    <h3>{{localize 'E20.damage'}}</h3>
    <input type="number" name="data.damage" value="{{data.damage}}"/>
    <select name="data.trait">
      {{#select data.trait}}
      {{#each config.weaponTraits as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>

    <div>
      <span>{{localize 'E20.numHands'}}</span><input type="number" name="data.numHands" value="{{data.numHands}}"/>
      <span>{{localize 'E20.numTargets'}}</span><input type="number" name="data.numTargets" value="{{data.numTargets}}"/>
      <span>{{localize 'E20.radius'}}</span><input type="number" name="data.radius" value="{{data.radius}}"/>
    </div>

    <h3>{{localize 'E20.range'}}</h3>
    <span>{{localize 'E20.min'}}</span><input type="number" name="data.range.min" value="{{data.min}}"/>
    <span>{{localize 'E20.reachMultiplier'}}</span><input type="number" name="data.range.reachMultiplier" value="{{data.reachMultiplier}}"/>
    <span>{{localize 'E20.long'}}</span><input type="number" name="data.range.long" value="{{data.range.long}}"/>
    <span>{{localize 'E20.value'}}</span><input type="number" name="data.range.value" value="{{data.range.value}}"/>

    <h3>{{localize 'E20.requirements'}}</h3>
    <input type="text" name="data.requirements.custom" value="{{data.requirements.custom}}" placeholder="{{ localize 'E20.custom' }}"/>
    <select name="data.skill">
      {{#select data.skill}}
      {{#each config.weaponRequirementSkills as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
    <select name="data.requirements.shift">
      {{#select data.shift}}
      {{#each config.weaponRequirementShifts as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
