<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    {{!-- Effect Area --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.GearEffectArea'}}
    {{#*inline "item-field-inputs"}}
    <input type="number" name="system.effectArea" value="{{system.effectArea}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Effect Shape --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.GearEffectShape'}}
    {{#*inline "item-field-inputs"}}
    <select name="system.effectShape">
      {{#select system.effectShape}}
      {{#each @root.config.effectShapes as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Light Range --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.GearLightRange'}}
    {{#*inline "item-field-inputs"}}
    <input type="number" name="system.lightRange.bright" value="{{system.lightRange.bright}}" placeholder={{localize "E20.LightRangeBright"}} />
    <input type="number" name="system.lightRange.dim" value="{{system.lightRange.dim}}" placeholder={{localize "E20.LightRangeDim"}} />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Toughness --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.GearToughness'}}
    {{#*inline "item-field-inputs"}}
    <input type="number" name="system.toughness" value="{{system.toughness}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
