<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body armor">
    <select name="system.colorSpectrum">
      {{#select system.colorSpectrum}}
      {{#each config.rangers as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>

    <div class="resource flex-group-center">
      <label for="system.health.value" class="resource-label">{{localize 'E20.health'}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
        <span> / </span>
        <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
      </div>
    </div>

    <input type="text" name="system.ranger" value="{{system.ranger}}" placeholder="{{ localize 'E20.ranger' }}" />
    <input type="text" name="system.skillNotes" value="{{system.skillNotes}}"
      placeholder="{{ localize 'E20.skillNotes' }}" />

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
