<form class="{{cssClass}}" autocomplete="off">

  <section>
    {{!-- Item Sheet Header --}}
    {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

    {{!-- Item Sheet Body --}}
    <div class="flexrow">
      <label>{{localize 'E20.availability'}}</label>
      <select name="system.availability">
        {{#select system.availability}}
        {{#each config.availabilities as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.classification'}}</label>
      <select name="system.classification">
        {{#select system.classification}}
        {{#each config.armorClassifications as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.trait'}}</label>
      <select name="system.trait">
        {{#select system.trait}}
        {{#each config.armorTraits as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <div>{{localize 'E20.effect'}}</div>
      <input type="number" name="system.effect" value="{{system.effect}}" />
    </div>

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
