<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="flexrow">
      <label>{{localize 'E20.origin.essenceIncreaseOptions'}}</label><input type="text"
        name="system.essenceIncreaseOptions" value="{{system.essenceIncreaseOptions}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.origin.startingHealth'}}</label><input type="text" name="system.startingHealth"
        value="{{system.startingHealth}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.origin.bonusSkillLevels'}}</label><input type="text" name="system.bonusSkillLevels"
        value="{{system.bonusSkillLevels}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.origin.groundMovement'}}</label><input type="text" name="system.groundMovement"
        value="{{system.groundMovement}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.originLanguages'}}</label><input type="text" name="system.languages"
        value="{{system.languages}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.originBenefitName'}}</label><input type="text" name="system.benefit.name"
        value="{{system.benefit.name}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.originBenefitDescription'}}</label><input type="text" name="system.benefit.description"
        value="{{system.benefit.description}}" />
    </div>

     {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>
</form>
