<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="flexrow">
      <label>{{localize 'E20.weaponAvailability'}}</label>
      <select name="system.availability">
        {{#select system.availability}}
        {{#each config.availabilities as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponSkill'}}</label>
      <select name="system.classification.skill">
        {{#select system.classification.skill}}
        {{#each config.essenceSkills as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponSize'}}</label>
      <select name="system.classification.size">
        {{#select system.classification.size}}
        {{#each config.weaponSizes as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponStyle'}}</label>
      <select name="system.classification.style">
        {{#select system.classification.style}}
        {{#each config.weaponStyles as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponNumCharges'}}</label>
      <input type="number" name="system.numCharges" value="{{system.numCharges}}" />
      <input type="text" name="system.custom" value="{{system.custom}}" placeholder="{{ localize 'E20.weaponNumChargesCustom' }}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponEffect'}}</label>
      <input type="text" name="system.effect" value="{{system.effect}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponAlternateEffects'}}</label>
      <input type="text" name="system.alternateEffects" value="{{system.alternateEffects}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponUpgrades'}}</label>
      <input type="text" name="system.upgrades" value="{{system.upgrades}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponHands'}}</label>
      <input type="text" name="system.numHands" value="{{system.numHands}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponTargets'}}</label>
      <input type="number" name="system.numTargets" value="{{system.numTargets}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponRadius'}}</label>
      <input type="number" name="system.radius" value="{{system.radius}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponRange'}}</label>
      <input type="number" name="system.range.min" value="{{system.range.min}}" placeholder="{{localize 'E20.weaponRangeMin'}}" />
      <input type="number" name="system.range.reachMultiplier" value="{{system.range.reachMultiplier}}"
        placeholder="{{localize 'E20.weaponRangeReachMultiplier'}}" />
      <input type="number" name="system.range.long" value="{{system.range.long}}"
        placeholder="{{localize 'E20.weaponRangeLong'}}" />
      <input type="number" name="system.range.value" value="{{system.range.value}}"
        placeholder="{{localize 'E20.weaponRangeValue'}}" />
    </div>

    <div class="flexrow">
      <label>{{localize 'E20.weaponRequirements'}}</label>
      <input type="text" name="system.requirements.custom" value="{{system.requirements.custom}}"
        placeholder="{{ localize 'E20.weaponRequirementsCustom' }}" />
      <select name="system.requirements.skill">
        {{#select system.requirements.skill}}
        {{#each config.essenceSkills as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="system.requirements.shift">
        {{#select system.requirements.shift}}
        {{#each config.weaponRequirementShifts as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>

</form>
