<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    {{!-- Availability --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.ArmorAvailability'}}
    {{#*inline "item-field-inputs"}}
    <select name="system.availability">
      {{#select system.availability}}
      {{#each config.availabilities as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Classification --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.ArmorClassification'}}
    {{#*inline "item-field-inputs"}}
    <select name="system.classification">
      {{#select system.classification}}
      {{#each config.armorClassifications as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Trait --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.ArmorTrait'}}
    {{#*inline "item-field-inputs"}}
    <select name="system.trait">
      {{#select system.trait}}
      {{#each config.armorTraits as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Effect --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.ArmorEffect'}}
    {{#*inline "item-field-inputs"}}
    <input type="number" name="system.effect" value="{{system.effect}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}

    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>
</form>
